<!-- EVENT attachment_file_before -->

<!-- BEGIN _file -->
	<!-- IF _file.S_DENIED -->
	<p>[{_file.DENIED_MESSAGE}]</p>
	<!-- ELSE -->
		<!-- EVENT attachment_file_prepend -->

		<!-- IF _file.S_THUMBNAIL -->
		<dl class="thumbnail">
			<dt><a href="{_file.U_DOWNLOAD_LINK}"><img src="{_file.THUMB_IMAGE}" class="postimage" alt="{% if _file.COMMENT %}{{ _file.COMMENT|e('html') }}{% else %}{{ _file.DOWNLOAD_NAME }}{% endif %}" title="{_file.DOWNLOAD_NAME} ({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}" /></a></dt>
			<!-- IF _file.COMMENT --><dd> {_file.COMMENT}</dd><!-- ENDIF -->
		</dl>
		<!-- ENDIF -->

    {% if _file.S_IMAGE %}
		<figure class="mdt-attachment-image">
			<a href="{{_file.U_INLINE_LINK }}"{% if _file.COMMENT %} data-caption="{{ _file.COMMENT|e('html') }}"{% endif %}>
        <img src="{{_file.U_INLINE_LINK }}" alt="{{ _file.DOWNLOAD_NAME }} ({{ _file.FILESIZE }} {{ _file.SIZE_LANG }}) {{ _file.L_DOWNLOAD_COUNT }}">
      </a>
			<figcaption>
				{% if _file.COMMENT %}
				<h5>{{ _file.COMMENT|e('html') }}</h5>
        {% else %}
        <div>{{ _file.DOWNLOAD_NAME }} ({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}</div>
				{% endif %}
        <div>
          <a class="mdt-attachment-download" href="{{_file.U_INLINE_LINK }}" target="_blank" download="{{ _file.DOWNLOAD_NAME }}">{{ lang('ATTACHMENT_DOWNLOAD_IMAGE') }}</a>
        </div>
			</figcaption>
		</figure>
		{% endif %}

    {% if _file.S_FILE %}
    <a class="mdt-attachment-file mdt-attachment-download" href="{{ _file.U_DOWNLOAD_LINK }}" download="{_file.DOWNLOAD_NAME}">
      {% if _file.COMMENT %}
      <span class="mdt-attachment-title">{{ _file.COMMENT|e('html') }}</span>
      {% endif %}
      <span>
        <b>{{ _file.DOWNLOAD_NAME }}</b> ({_file.FILESIZE} {_file.SIZE_LANG})
        {_file.L_DOWNLOAD_COUNT}
      </span>
    </a>
    {% endif %}

		<!-- EVENT attachment_file_append -->
	<!-- ENDIF -->
<!-- END _file -->
<!-- EVENT attachment_file_after -->
