<div class="mdt-display-options">
  <!-- IF S_SORT_OPTIONS -->
  <label>
    {L_SORT_BY}{L_COLON}
    <select name="sk" id="sk">{S_SORT_OPTIONS}</select>
  </label>
  <label>
    {L_SORT_DIRECTION}{L_COLON}
    <select name="sd" id="sd">{S_ORDER_SELECT}</select>
  </label>
  <button type="submit" class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect" name="sort">{L_SORT}</button>
  <!-- ELSE -->
  <label>
    {L_DISPLAY}{L_COLON}
    {S_SELECT_SORT_DAYS}
  </label>
  <!-- IF S_SELECT_SORT_KEY -->
  <label>{L_SORT_BY}{L_COLON} {S_SELECT_SORT_KEY}</label>
  <label>{L_SORT_DIRECTION}{L_COLON} {S_SELECT_SORT_DIR}</label>
  <!-- ENDIF -->
  <button type="submit" class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect" name="sort">{L_GO}</button>
  <!-- ENDIF -->
</div>
