<!-- INCLUDE overall_header.html -->

{% import 'macros/components.twig' as cmp %}
{% import 'macros/nav.twig' as nav %}

<div class="mdt-actions">
  {{ nav.link(U_INDEX, lang('RETURN_TO_INDEX'), "keyboard_arrow_left", "mdt-jumpbox-back mdt-link", "r") }}

  {% if S_DISPLAY_JUMPBOX %}
  {{ nav.jumpbox(lang('JUMP_TO'), jumpbox_forums, '__header', S_CONTENT_DIRECTION) }}
	{% endif %}
</div>

{% for item in faq_block %}
<div class="mdt-container">
  <div class="mdl-card" style="width: 100%;">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{item.BLOCK_TITLE}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {% set index = 0 %}
      {% set expandableName = 'f' ~ item.S_ROW_COUNT %}
      {% for row in item.faq_row %}
        {% set id = expandableName ~ '-' ~ index %}
        {% set index = index + 1 %}
        {{ cmp.expandableSimple(id, row.FAQ_QUESTION, row.FAQ_ANSWER, false) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

<div class="mdt-actions">
  {{ nav.link(U_INDEX, lang('RETURN_TO_INDEX'), "keyboard_arrow_left", "mdt-jumpbox-back mdt-link", "r") }}

  {% if S_DISPLAY_JUMPBOX %}
  {{ nav.jumpbox(lang('JUMP_TO'), jumpbox_forums, '__footer', S_CONTENT_DIRECTION) }}
	{% endif %}
</div>

<!-- INCLUDE overall_footer.html -->
