{% import "macros/_nav.twig" as nav %}

<div class="mdt-actions">
	{% if S_VIEWTOPIC %}
  {{ nav.link(U_VIEW_FORUM, lang('RETURN_TO_FORUM'), "keyboard_arrow_left", "mdt-jumpbox-back mdt-link", "r") }}
	{% elseif SEARCH_TOPIC %}
  {{ nav.link(U_SEARCH_TOPIC, lang('RETURN_TO_TOPIC'), "keyboard_arrow_left", "mdt-jumpbox-back mdt-link", "r") }}
	{% elseif S_SEARCH_ACTION %}
  {{ nav.link(U_SEARCH, lang('GO_TO_SEARCH_ADV'), "keyboard_arrow_left", "mdt-jumpbox-back mdt-link", "r") }}
	{% else %}
  {{ nav.link(U_INDEX, lang('RETURN_TO_INDEX'), "keyboard_arrow_left", "mdt-jumpbox-back mdt-link", "r") }}
	{% endif %}

	{% if S_DISPLAY_JUMPBOX %}
  {% set btnTitle = S_IN_MCP and S_MERGE_SELEC 
    ? lang('SELECT_TOPICS_FROM') 
    : S_IN_MCP 
    ? lang('MODERATE_FORUM') 
    : lang('JUMP_TO') %}

  {{ nav.jumpbox(btnTitle, jumpbox_forums, 0, S_CONTENT_DIRECTION) }}
	{% endif %}
</div>
