<!-- IF S_USER_LOGGED_IN -->
<!-- INCLUDE profile/drawer_profile.html -->
<!-- ENDIF -->

<ul class="mdl-list">
	<!-- IF S_USER_LOGGED_IN -->
	<!-- IF S_NOTIFICATIONS_DISPLAY -->
	<li class="mdl-list__item mdl-list__item--two-line">

		<span class="mdl-list__item-primary-content">
			<!-- IF NOTIFICATIONS_COUNT -->
			<span class="mdl-badge" data-badge="{NOTIFICATIONS_COUNT}">{L_NOTIFICATIONS}</span>
			<!-- ELSE -->
			<span>{L_NOTIFICATIONS}</span>
			<!-- ENDIF -->
			<!-- IF NOTIFICATIONS_COUNT -->
			<a class="mdl-list__item-sub-title" href="{U_MARK_ALL_NOTIFICATIONS}" data-ajax="notification.mark_all_read">
				{L_MARK_ALL_READ}
			</a>
			<!-- ENDIF -->
		</span>
	</li>

	<!-- IF not .notifications -->
	<li class="mdl-list__item">
		<span class="mdl-list__item-primary-content">{L_NO_NOTIFICATIONS}</span>
	</li>
	<!-- ENDIF -->

	<!-- BEGIN notifications -->
	<!-- INCLUDE notification/drawer_notify_frame.html -->
	<!-- END notifications -->

	<li class="mdl-list__item">
		<span class="mdl-list__item-primary-content">
			<a class="mdl-button mdl-js-button mdl-button--raised" href="{U_VIEW_ALL_NOTIFICATIONS}">{L_SEE_ALL}</a>
		</span>
	</li>

	<li class="mdl-list__item mdl-list__item--two-line">
		<span class="mdl-list__item-primary-content">
			<span class="mdl-list__item-sub-title">{CURRENT_TIME}</span>
		</span>
	</li>

	<!-- ENDIF -->
	<!-- EVENT navbar_header_user_profile_append -->
	<!-- ELSE -->
	<!-- EVENT navbar_header_logged_out_content -->
	<!-- ENDIF -->
	<li class="mui-panel">
		<a href="{U_FAQ}" rel="help" role="menuitem">
			<i class="material-icons mui--align-middle">question_answer</i>
			{L_FAQ}
		</a>
	</li>
</ul>
