{% if pagination %}
<span class="mdt-paging">
  <span class="mdl-chip__text">
    {% for paging in pagination %}
    {% if paging.S_IS_PREV %}
    {% elseif paging.S_IS_CURRENT %}
    <span class="mdt-paging-span">{{ paging.PAGE_NUMBER }}</span>
    {% elseif paging.S_IS_ELLIPSIS %}
    <span class="mdt-paging-span">{{ lang('ELLIPSIS') }}</span>
    {% elseif paging.S_IS_NEXT %}
    {% else %}
    <a class="mdt-paging-link" href="{{ paging.PAGE_URL }}">
      {{ paging.PAGE_NUMBER }}
    </a>
    {% endif %}
    {% endfor %}
  </span>
</span>
{% endif %}
