{% import "macros/typography.twig" as typo %}
{% import "macros/form.twig" as form %}
{% import "macros/nav.twig" as nav %}
{% import "macros/components.twig" as cmp %}

{{ include('overall_header.html') }}

<div class="mdt-actions">
  {{ nav.link(U_INDEX, lang('RETURN_TO_INDEX'), "keyboard_arrow_left", "mdt-actions-back mdt-link", "r") }}

  {% if S_DISPLAY_JUMPBOX %}
  {{ nav.jumpbox(lang('JUMP_TO'), jumpbox_forums, '__header', S_CONTENT_DIRECTION) }}
	{% endif %}
</div>

{# TODO: looks kind of unordered... make it pretty! #}

<div class="mdt-container">
  {{ typo.primaryTitle(lang('SEARCH')) }}
  {% EVENT search_body_form_before %}

  <form class="mdt-container-content" method="get" action="{{ S_SEARCH_ACTION }}" data-focus="keywords">
    {% EVENT search_body_search_query_before %}
    <div class="mdt-form-fields">
      {% EVENT search_body_search_query_prepend %}
      {{ form.floatLabelInput('text', 'keywords', lang('SEARCH_KEYWORDS'), lang('SEARCH_KEYWORDS_EXPLAIN')) }}
      
      <div>{{ form.radioInput('terms1', 'terms', 'all', lang('SEARCH_ALL_TERMS'), true) }}</div>
      <div>{{ form.radioInput('terms2', 'terms', 'any', lang('SEARCH_ANY_TERMS'), false) }}</div>

      {{ form.floatLabelInput('text', 'author', lang('SEARCH_AUTHOR'), lang('SEARCH_AUTHOR_EXPLAIN')) }}
      {% EVENT search_body_search_query_append %}
    </div>
    {% EVENT search_body_search_query_after %}

    {% EVENT search_body_search_options_before %}
    <div class="mdt-form-fields">
      {% EVENT search_body_search_options_prepend %}
      {% EVENT search_body_search_display_options_prepend %}
      <div class="mdt-field-container">
        <label class="mdt-select-label" for="search_forum">{{ lang('SEARCH_FORUMS') }}</label>
        <div class="mdt-select-description">
          {{ lang('SEARCH_FORUMS_EXPLAIN') }}
        </div>
        <select class="mdt-select-field" name="fid[]" id="search_forum" multiple="multiple" size="8" title="{{ lang('SEARCH_FORUMS') }}">
          {{ S_FORUM_OPTIONS }}
        </select>
      </div>

      <h4>{{ lang('SEARCH_SUBFORUMS') }}</h4>
      <p>
        {{ form.radioInput('search_child1', 'sc', '1', lang('YES'), true) }}
        {{ form.radioInput('search_child2', 'sc', '0', lang('NO'), false) }}
      </p>

      <h4>{{ lang('SEARCH_WITHIN') }}</h4>
      <p>
        {{ form.radioInput('sf1', 'sf', 'all', lang('SEARCH_TITLE_MSG'), true) }}<br>
        {{ form.radioInput('sf2', 'sf', 'msgonly', lang('SEARCH_MSG_ONLY'), false) }}<br>
        {{ form.radioInput('sf3', 'sf', 'titleonly', lang('SEARCH_TITLE_ONLY'), false) }}<br>
        {{ form.radioInput('sf4', 'sf', 'firstpost', lang('SEARCH_FIRST_POST'), false) }}
      </p>

      <h4>{{ lang('SEARCH_SUBFORUMS') }}</h4>
      <p>
        {{ S_SELECT_SORT_KEY }}
        {{ form.radioInput('show_results1', 'sr', 'posts', lang('POSTS'), true) }}
        {{ form.radioInput('show_results2', 'sr', 'topics', lang('TOPICS'), false) }}
      </p>

      <h4>{{ lang('RESULT_SORT') }}</h4>
      <p>
        {{ S_SELECT_SORT_DAYS }}
        {{ form.radioInput('sa', 'sd', 'a', lang('SORT_ASCENDING'), false) }}
        {{ form.radioInput('sd', 'sd', 'd', lang('SORT_DESCENDING'), true) }}
      </p>

      {% EVENT search_body_search_options_append %}
    </div>
    {% EVENT search_body_search_display_options_append %}
	  {% EVENT search_body_search_options_after %}

    {{ S_HIDDEN_FIELDS }}

    {# The backend is using this information. It must be very very very important! #}
    <input type="hidden" name="submit" value="{{ lang('SEARCH') }}">

    <div class="mdt-form-fields">
      <button class="mdl-button mdl-button--raised mdl-button--colored" type="submit">
        {{ lang('SEARCH') }}
      </button>
    </div>
  </form>
  {% EVENT search_body_form_after %}
</div>

{% EVENT search_body_recent_search_before %}
{% if recentsearch %}

{# TODO: recentsearch must be tested and styled #}

<div class="forumbg forumbg-table">
	<div class="inner">

	<table class="table1">
	<thead>
	<tr>
		<th colspan="2" class="name">{{ lang('RECENT_SEARCHES') }}</th>
	</tr>
	</thead>
	<tbody>
	{% if recentsearch|length > 0 %}{% for recent in recentsearch %}
		<tr class="{% if recent.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
			<td><a href="{{ recent.U_KEYWORDS }}">{{ recent.KEYWORDS }}</a></td>
			<td class="active">{{ recent.TIME }}</td>
		</tr>
	{% endfor %}{% else %}
		<tr class="bg1">
			<td colspan="2">{{ lang('NO_RECENT_SEARCHES') }}</td>
		</tr>
	{% endif %}
	</tbody>
	</table>

	</div>
</div>
{% endif %}
{% EVENT search_body_recent_search_after %}

<div class="mdt-actions">
  {{ nav.link(U_INDEX, lang('RETURN_TO_INDEX'), "keyboard_arrow_left", "mdt-actions-back mdt-link", "r") }}

  {% if S_DISPLAY_JUMPBOX %}
  {{ nav.jumpbox(lang('JUMP_TO'), jumpbox_forums, '__footer', S_CONTENT_DIRECTION) }}
	{% endif %}
</div>

{{ include('overall_footer.html') }}
