{% for boolval in bool %}
{% if boolval.FIELD_LENGTH eq 1 %}
	{% for option in boolval.options %}
  <label for="{{ boolval.FIELD_IDENT   }}_{{ option.OPTION_ID }}">
    <input type="radio" class="radio" name="{{ boolval.FIELD_IDENT }}" id="{{ boolval.FIELD_IDENT }}_{{ option.OPTION_ID }}" value="{{ option.OPTION_ID }}"{{ option.CHECKED }} />
    {{ option.VALUE }}
  </label>
  {% endfor %}
{% else %}
	<input type="checkbox" class="radio" name="{{ boolval.FIELD_IDENT }}" id="{{ boolval.FIELD_IDENT }}"{% if boolval.FIELD_VALUE %} checked="checked"{% endif %} />
{% endif %}
{% endfor %}
