{% for dateval in date %}
<label for="{{ dateval.FIELD_IDENT }}_day">{L_DAY}{L_COLON} <select name="{{ dateval.FIELD_IDENT }}_day" id="{{ dateval.FIELD_IDENT }}_day">{{ dateval.S_DAY_OPTIONS }}</select></label>
<label for="{{ dateval.FIELD_IDENT }}_month">{L_MONTH}{L_COLON} <select name="{{ dateval.FIELD_IDENT }}_month" id="{{ dateval.FIELD_IDENT }}_month">{{ dateval.S_MONTH_OPTIONS }}</select></label>
<label for="{{ dateval.FIELD_IDENT }}_year">{L_YEAR}{L_COLON} <select name="{{ dateval.FIELD_IDENT }}_year" id="{{ dateval.FIELD_IDENT }}_year">{{ dateval.S_YEAR_OPTIONS }}</select></label>
{% endfor %}
