@import "../../mdl/color-definitions";

@mixin custom-scheme-dark() {

  // MDL colors
  // ==========

  // Use color primarily for emphasis. Choose colors that fit with
  // your brand and provide good contrast between visual components.
  --color-primary: #{$palette-red-700};
  --color-primary-dark: #{$palette-red-900};
  --color-accent: #{$palette-orange-500};
  --color-accent-dark: #{$palette-orange-800};

  // Our primary is dark, so use $color-dark-contrast for overlaid text.
  --color-primary-contrast: #{$color-dark-contrast};
  // Our accent is dark, so use $color-dark-contrast for overlaid text.
  --color-accent-contrast: #{$color-light-contrast};

  // Base Layout Color
  // =================

  // Default color for any parts of the forum that are not
  // using MDL. I described it with the RGB color code, but
  // I'm not forcing the opacity on you, so you can do things
  // like this:
  // background-color: rgba(var(--color-bg), 0.5);
  --color-bg: 17, 17, 17;
  --color-bg-inverse: 255, 255, 255;
  --color-fg: 255, 255, 255;
  --color-fg-inverse: 0, 0, 0;
  --shadow-override: 0, 0, 0;

  // I included some easy-to-use variables to make working with
  // multiple color-modes a bit more comfortable. It's okay to
  // trust the variables from MDL, but they are not always giving
  // you the result you probably expect. Especially when it comes
  // to font colors...
  --background-color: rgb(var(--color-bg));
  --text-color: rgb(var(--color-fg));
  --text-color-inverse: rgb(var(--color-fg-inverse));

  --grey-variant-1: rgb(var(--color-grey-900));
  --grey-variant-2: rgba(var(--color-grey-900), 0.95);
  --grey-variant-3: rgba(var(--color-grey-700), 0.2);

  // FORUM COLORS
  // ============

  // forum category
  --category-background-color: rgb(#{$palette-grey-900});
  --forum-link-color: rgb(var(--color-accent));
  --dialog-bg-color: rgb(33, 33, 33);
  --dialog-text-color: rgba(#{$color-white}, 0.87);
}
