@import "../../mdl/color-definitions";

@mixin custom-scheme-light() {

  // MDL colors
  // ==========

  // Use color primarily for emphasis. Choose colors that fit with
  // your brand and provide good contrast between visual components.
  --color-primary: #{$palette-red-900};
  --color-primary-dark: #{$palette-red-900};
  --color-accent: #{$palette-orange-800};
  --color-accent-dark: #{$palette-orange-900};

  // Our primary is dark, so use $color-dark-contrast for overlaid text.
  --color-primary-contrast: #{$color-dark-contrast};
  // Our accent is dark, so use $color-dark-contrast for overlaid text.
  --color-accent-contrast: #{$color-dark-contrast};

  // Base Layout Colors
  // ==================

  // Default color for any parts of the forum that are not
  // using MDL. I described it with the RGB color code, but
  // I'm not forcing the opacity on you, so you can do things
  // like this:
  // background-color: rgba(var(--color-bg), 0.5);
  --color-bg: 255, 255, 255;
  --color-bg-inverse: 0, 0, 0;
  --color-fg: 0, 0, 0;
  --color-fg-inverse: 255, 255, 255;
  --shadow-override: 0, 0, 0;

  // I included some easy-to-use variables to make working with
  // multiple color-modes a bit more comfortable. It's okay to
  // trust the variables from MDL, but they are not always giving
  // you the result you probably expect. Especially when it comes
  // to font colors...
  --background-color: rgb(var(--color-bg));
  --text-color: rgb(var(--color-fg));
  --text-color-inverse: rgb(var(--color-fg-inverse));  

  --grey-variant-1: rgb(var(--color-grey-100));
  --grey-variant-2: rgb(var(--color-bg));
  --grey-variant-3: rgb(var(--color-grey-200));

  // FORUM COLORS
  // ============

  // forum category
  --category-background-color: rgb(#{$color-white});
  --forum-link-color: var(--text-color-primary);
  --dialog-bg-color: rgb(255, 255, 255);
  --dialog-text-color: rgba(#{$color-black}, 0.87);

}
