.mdt-forum-container {
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  flex: 1;
}

.mdt-forum-header {
  flex: 1;
  padding: 16px;
  > div {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .mdt-category {
    margin: 0;
  }
}

.mdt-forum-image {
  padding: 0;
  .mdt-forum-container {
    padding: 16px;
  }
}

.mdt-forum-icon {
  @extend .mdl-list__item-avatar;
  &.material-icons {
    background-color: transparent;
    color: $text-color-accent;
  }
}

.mdt-list-content {
  &:hover {
    .mdt-forum-headline a {
      color: $text-link-color;
    }
  }
}

.mdt-list-highlight {
  .mdt-forum-headline a,
  .mdt-forum-icon.material-icons {
    color: rgba(#{$color-accent}, .75);
    transition: color 0.25s ease-in-out;
  }
  &:hover {
    .mdt-forum-icon.material-icons {
      color: $text-link-color;
    }
  }
}

.mdt-forum-headline {
  @include typo-headline;
  margin: 0;
  a {
    text-decoration: none;
    color: $text-color-accent;
    transition: color 0.25s ease-in-out;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mdt-forum-image-container {
  @include shadow-4dp();
  margin: 8px 0 8px 8px;
}

.mdt-forum-description {
  @include typo-subhead;
  grid-column: 2;
  grid-row: 2;
}

.mdt-forum-subforums {
  grid-column: 2;
  grid-row: 3;
  margin-top: 12px;
}