.mdt-field-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 16px 0;
}

.mdt-field-radio, .mdt-field-checkbox, .mdt-field-switch {
  align-items: center;
}

// TODO: MAYBE use @material/select from MDC, the successor of MDL.
// @see https://github.com/material-components/material-components-web/tree/master/packages/mdc-select

.mdt-select-label {
  grid-column: 1/3;
  grid-row: 1;
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.mdt-select-field {
  grid-column: 1;
  grid-row: 2;
}

.mdt-select-description {
  grid-column: 2;
  grid-row: 2;
  margin-left: 16px;
}
