.username, .mdt-link {
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  color: rgba(#{$color-accent}, .87);
  &:hover {
    color: rgba(#{$color-accent}, 1);
  }
}

.mdt-container {
  flex: 1;
}