
// Small devices (landscape phones, 576px and up)
$breakpoint-phones-landscape: 576px;

// Medium devices (tablets, 768px and up)
$breakpoint-tablets: 768px;

// Large devices (desktops, 992px and up)
$breakpoint-desktops: 992px;

// Extra large devices (large desktops, 1200px and up)
$breakpoint-large-desktops: 1200px;

@keyframes text-accent-easing {
  0% { color: rgba(#{$color-accent}, 0.87); }
  50% { color: rgba(#{$color-accent}, 0.64); }
  100% { color: rgba(#{$color-accent}, 0.87); }
}

p {
  margin: 0;
  + p {
    margin-top: 16px;
  }
}

time {
  color: rgba(var(--color-fg), 0.54);
}

.mdl-list__item-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  .material-icons {
    font-size: 28px;
  }
  .mdt-img {
    width: 28px;
    height: 28px;
  }
}

.username, .username-coloured, .mdt-link {
  display: inline-flex;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  color: rgba(#{$color-accent}, .87);
  &:hover {
    color: rgba(#{$color-accent}, 1);
  }
  .material-icons {
    padding-right: 4px;
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
  }
}

.mdt-flex-wide {
  flex: 1;
}

.mdt-actions {
  display: flex;
  flex-direction: column;
  margin: 16px;
  flex: 1;

  &.mdt-actions-trailing {
    justify-content: flex-end;
  }

  .mdt-actions {
    flex-direction: row;
    margin: 16px 0 0 0;
  }
}

@media (min-width: $breakpoint-phones-landscape) {
  .mdt-actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .mdt-actions {
      margin: 0;
    }
  }
}

.mdt-forum-pagination {
  flex: 1;
  align-items: center;
  text-align: right;
}

.mdt-breadcrumb {
  > * {
    line-height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    .material-icons {
      font-size: 20px;
    }
  }
}

.mdt-form-fields {
  padding: 16px;
}

.mdt-floatlabel-input {
  @extend .mdl-textfield, .mdl-textfield--floating-label;
}

.mdt-textfield-description {
  display: block;
  margin-top: -16px;
  padding-bottom: 16px;
}

.mdt-vertical-expandable {
  > input[type="radio"] {
    display: none;
  }
  > label {
    cursor: pointer;
  }
}
