.pbb-list {
  @extend .mdl-list;
  margin: 0;
  padding: 0;
}

.pbb-list-content {
  @extend .mdl-list__item;
  background-color: var(--grey-variant-1);
  height: auto;

  &:nth-last-of-type(2n) {
    background-color: var(--grey-variant-2);
  }

  .pbb-list-primary {
    @extend .mdl-list__item-primary-content;
    display: grid;
    grid-template-columns: 56px 1fr;
    align-items: center;
    height: auto;
  }  
}

.pbb-list-highlight {
  @include shadow-2dp();
  transition: 0.1s ease-in-out;
  border-left: 5px solid rgba(var(--color-primary), 1);
  background-color: var(--list-highlight-bg-color);
  &:nth-last-of-type(2n) {
    background-color: var(--list-highlight-bg-color);
  }
}
