.mdt-list {
  @extend .mdl-list;
  margin: 0;
  padding: 0;
}

.mdt-list-content {
  @extend .mdl-list__item;
  align-items: flex-start;
  height: auto;
  padding: 12px;

  &:nth-last-of-type(2n) {
    background-color: var(--grey-variant-2);
  }

  .mdt-list-primary {
    @extend .mdl-list__item-primary-content;
    display: grid;
    grid-template-columns: 56px 1fr;
    align-items: center;
    height: auto;
  }  
}

.mdt-list-highlight {
  @include shadow-2dp();
  transition: 0.1s ease-in-out;
  border-left: 4px solid rgba(var(--color-primary), 1);
  background-color: var(--list-highlight-bg-color);
  &:nth-last-of-type(2n) {
    background-color: var(--list-highlight-bg-color);
  }
}

@media (min-width: $grid-tablet-breakpoint) {
  .mdt-list-content {
    flex-direction: row;
  }
}