.media {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.25rem;
}

.media-content {
  flex: 1;
}

.media-headline {
  @extend .mui--divider-bottom;
  font-weight: 700;
  display: flex;
}

.media-text {
  @extend .mui--text-caption;
}
