@import "mdl-component-colors";

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-accent: var(--color-accent);
$color-accent-dark: var(--color-accent-dark);

// Our primary is dark, so use $color-dark-contrast for overlaid text.
$color-primary-contrast: var(--color-primary-contrast);
// Our accent is dark, so use $color-dark-contrast for overlaid text.
$color-accent-contrast: var(--color-accent-contrast);

/* ==========  Typography  ========== */

// We use the following default color styles: text-color-primary and
// text-color-secondary. For light themes, use text-color-primary-inverse
// and text-color-secondary-inverse.

$text-color-primary: var(--text-color-primary);
$text-color-primary-contrast: var(--text-color-primary-contrast);

$text-color-accent: var(--text-color-accent);
$text-color-accent-contrast: var(--text-color-accent-contrast);

$text-link-color: var(--text-link-color);

/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

// Default button colors.
$button-primary-color: var(--button-primary-color);
$button-secondary-color: var(--button-secondary-color);
$button-hover-color: var(--button-hover-color);
$button-active-color: var(--button-active-color);
$button-focus-color: var(--button-focus-color);

// Colored button colors.
$button-primary-color-alt: var(--button-primary-color-alt);
$button-secondary-color-alt: var(--button-secondary-color-alt);
$button-hover-color-alt: var(--button-hover-color-alt);
$button-active-color-alt: var(--button-active-color-alt);
$button-focus-color-alt: var(--button-focus-color-alt);

// Ripple color for colored raised buttons.
$button-ripple-color-alt: var(--button-ripple-color-alt);

// Disabled button colors.
$button-primary-color-disabled: var(--button-primary-color-disabled);
$button-secondary-color-disabled: var(--button-secondary-color-disabled);

// FAB colors and sizes.
$button-fab-color-alt: var(--button-fab-color-alt);
$button-fab-hover-color-alt: var(--button-fab-hover-color-alt);
$button-fab-active-color-alt: var(--button-fab-active-color-alt);
$button-fab-text-color-alt: var(--button-fab-text-color-alt);
$button-fab-ripple-color-alt: var(--button-fab-ripple-color-alt);

// Icon button colors and sizes.
$button-icon-color: var(--button-icon-color);
$button-icon-focus-color: var(--button-icon-focus-color);

/* ==========  Icon Toggles  ========== */

$icon-toggle-color: var(--icon-toggle-color);
$icon-toggle-focus-color: var(--icon-toggle-focus-color);
$icon-toggle-checked-color: var(--icon-toggle-checked-color);
$icon-toggle-checked-focus-color: var(--icon-toggle-checked-focus-color);
$icon-toggle-disabled-color: var(--icon-toggle-disabled-color);

/* ==========  Radio Buttons  ========== */

$radio-color: var(--radio-color);
$radio-off-color: var(--radio-off-color);
$radio-disabled-color: var(--radio-disabled-color);

/* ==========  Ripple effect  ========== */

$ripple-bg-color: var(--ripple-bg-color);

/* ==========  Layout  ========== */

$layout-nav-color: var(--layout-nav-color);

// Drawer
$layout-drawer-bg-color: var(--layout-drawer-bg-color);
$layout-drawer-border-color: var(--layout-drawer-border-color);
$layout-text-color: var(--layout-text-color);
$layout-drawer-navigation-color: var(--layout-drawer-navigation-color);
$layout-drawer-navigation-link-active-background: var(--layout-drawer-navigation-link-active-background);
$layout-drawer-navigation-link-active-color: var(--layout-drawer-navigation-link-active-color);

// Header
$layout-header-bg-color: var(--layout-header-bg-color);
$layout-header-text-color: var(--layout-header-text-color);
$layout-header-nav-hover-color: var(--layout-header-nav-hover-color);
$layout-header-tab-text-color: var(--layout-header-tab-text-color);

// Tabs
$layout-header-tab-highlight: var(--layout-header-tab-highlight);

/* ==========  Content Tabs  ========== */

$tab-highlight-color: var(--tab-highlight-color);
$tab-text-color: var(--tab-text-color);
$tab-active-text-color: var(--tab-active-text-color);
$tab-border-color: var(--tab-border-color);

/* ==========  Checkboxes  ========== */

$checkbox-color: var(--checkbox-color);
$checkbox-off-color: var(--checkbox-off-color);
$checkbox-disabled-color: var(--checkbox-disabled-color);
$checkbox-focus-color: var(--checkbox-focus-color);

/* ==========  Switches  ========== */

$switch-color: var(--switch-color);
$switch-faded-color: var(--switch-faded-color);
$switch-thumb-color: var(--switch-thumb-color);
$switch-track-color: var(--switch-track-color);

$switch-off-thumb-color: var(--switch-off-thumb-color);
$switch-off-track-color: var(--switch-off-track-color);
$switch-disabled-thumb-color: var(--switch-disabled-thumb-color);
$switch-disabled-track-color: var(--switch-disabled-track-color);

/* ==========  Spinner  ========== */

$spinner-color-1: var(--spinner-color-1);
$spinner-color-2: var(--spinner-color-2);
$spinner-color-3: var(--spinner-color-3);
$spinner-color-4: var(--spinner-color-4);

$spinner-single-color: var(--spinner-single-color);

/* ==========  Text fields  ========== */

$input-text-background-color: var(--input-text-background-color);
$input-text-label-color: var(--input-text-label-color);
$input-text-bottom-border-color: var(--input-text-bottom-border-color);
$input-text-highlight-color: var(--input-text-highlight-color);
$input-text-disabled-color: var(--input-text-disabled-color);
$input-text-disabled-text-color: var(--input-text-disabled-text-color);
$input-text-error-color: var(--input-text-error-color);

/* ==========  Card  ========== */

$card-background-color: var(--card-background-color);
$card-text-color: var(--card-text-color);
$card-image-placeholder-color: var(--card-image-placeholder-color);
$card-supporting-text-text-color: var(--card-supporting-text-text-color);
$card-border-color: var(--card-border-color);
$card-subtitle-color: var(--card-subtitle-color);

/* ==========  Sliders ========== */

$range-bg-color: var(--range-bg-color);
$range-color: var(--range-color);
$range-faded-color: var(--range-faded-color);
$range-bg-focus-color: var(--range-bg-focus-color);

/* ========== Progress ========== */
$progress-main-color: var(--progress-main-color);
$progress-secondary-color: var(--progress-secondary-color);
$progress-fallback-buffer-color: var(--progress-fallback-buffer-color);
$progress-image-path: var(--progress-image-path);

/* ==========  List ========== */

$list-main-text-text-color: var(--list-main-text-text-color);
$list-supporting-text-text-color: var(--list-supporting-text-text-color);
$list-icon-color: var(--list-icon-color);
$list-avatar-color: var(--list-avatar-color);

/* ==========  Item ========== */

// Default Item Colors
$default-item-text-color: var(--default-item-text-color);
$default-item-outline-color: var(--default-item-outline-color);
$default-item-hover-bg-color: var(--default-item-hover-bg-color);
$default-item-focus-bg-color: var(--default-item-focus-bg-color);
$default-item-active-bg-color: var(--default-item-active-bg-color);
$default-item-divider-color: var(--default-item-divider-color);

// Disabled Button Colors
$disabled-item-text-color: var(--disabled-item-text-color);

/* ==========  Dropdown menu ========== */

$default-dropdown-bg-color: var(--default-dropdown-bg-color);

/* ==========  Tooltips  ========== */

$tooltip-text-color: var(--tooltip-text-color);
$tooltip-background-color: var(--tooltip-background-color);

/* ==========  Footer  ========== */

$footer-bg-color: var(--footer-bg-color);
$footer-color: var(--footer-color);
$footer-heading-color: var(--footer-heading-color);
$footer-button-fill-color: var(--footer-button-fill-color);
$footer-underline-color: var(--footer-underline-color);

/* ==========  Badge  ========== */
$badge-color: var(--badge-color);
$badge-color-inverse: var(--badge-color-inverse);
$badge-background: var(--badge-background);
$badge-background-inverse: var(--badge-background-inverse);

/* ==========  Table  ========== */
$data-table-header-color: var(--data-table-header-color);
$data-table-header-sorted-color: var(--data-table-header-sorted-color);
$data-table-header-sorted-icon-hover-color: var(--data-table-header-sorted-icon-hover-color);
$data-table-divider-color: var(--data-table-divider-color);

$data-table-hover-color: var(--data-table-hover-color);
$data-table-selection-color: var(--data-table-selection-color);

/* SNACKBAR */
$snackbar-background-color: var(--snackbar-background-color);
$snackbar-action-color: var(--snackbar-action-color);

/* CHIP */
$chip-bg-color: var(--chip-bg-color);
$chip-bg-active-color: var(--chip-bg-active-color);