.mdt-subforum-container {
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  flex: 1;
}

.mdt-forum-image {
  padding: 0;
  .mdt-subforum-container {
    padding: 0 16px;
  }
}

.mdt-subforums-unmark {
  margin-top: 12px;
  text-align: right;
  display: block;
}

.mdt-subforum-chip {
  @extend .mdl-chip, .mdl-chip--contact;
  @include shadow-2dp();
  font-size: $chip-font-size;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  &:hover {
    @include shadow-3dp();
    color: rgba(#{$color-accent}, .87);
  }
  &.mdt-subforum-highlight {
    animation: text-accent-easing 1.7s linear 0s infinite;
    // color: rgba(#{$color-accent}, .54);
    &:hover {
      animation: none;
      color: rgba(#{$color-accent}, .87);
    }
    .mdt-subforum-text {
      font-weight: 700;
    }
  }
}

.mdt-subforum-icon {
  @extend .mdl-chip__contact;
  margin-right: 0;
  .material-icons {
    vertical-align: middle;
  }
}
