
/**
 * Default Color scheme for System Dark Mode
 */
 @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 112, 72, 232;
    --color-primary-dark: 95, 61, 196;
    --color-accent: 127, 255, 0;
    --color-accent-dark: 102, 205, 0;
    --color-primary-contrast: 255, 255, 255;
    --color-accent-contrast: 0, 0, 0;
    --color-bg: 17, 17, 17;
    --color-bg-inverse: 255, 255, 255;
    --color-fg: 255, 255, 255;
    --color-fg-inverse: 0, 0, 0;
    --shadow-override: 0, 0, 0;
    --background-color: rgb(var(--color-bg));
    --text-color: rgb(var(--color-fg));
    --text-color-inverse: rgb(var(--color-fg-inverse));
    --grey-variant-1: rgb(var(--color-grey-900));
    --grey-variant-2: rgba(var(--color-grey-900), 0.95);
    --grey-variant-3: rgba(var(--color-grey-700), 0.2);
    --category-background-color: #212121;
    --category-title-color: #fff;
    --forum-link-color: rgb(var(--color-accent));
    --dialog-bg-color: #212121;
    --dialog-text-color: hsla(0, 0%, 100%, 0.87);
  }
}

/**
 * Default color scheme for System light mode
 */
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: 112, 72, 232;
    --color-primary-dark: 95, 61, 196;
    --color-accent: 56, 142, 60;
    --color-accent-dark: 27, 94, 32;
    --color-primary-contrast: 255, 255, 255;
    --color-accent-contrast: 255, 255, 255;
    --color-bg: 255, 255, 255;
    --color-bg-inverse: 0, 0, 0;
    --color-fg: 0, 0, 0;
    --color-fg-inverse: 255, 255, 255;
    --shadow-override: 0, 0, 0;
    --background-color: rgb(var(--color-bg));
    --text-color: rgb(var(--color-fg));
    --text-color-inverse: rgb(var(--color-fg-inverse));
    --grey-variant-1: rgb(var(--color-grey-100));
    --grey-variant-2: rgb(var(--color-bg));
    --grey-variant-3: rgb(var(--color-grey-200));
    --category-background-color: #fff;
    --category-title-color: #fff;
    --forum-link-color: var(--text-color-primary);
    --dialog-bg-color: #fff;
    --dialog-text-color: rgba(0, 0, 0, 0.87);
  }
}

/**
 * User defined dark mode Color Scheme on WebSite
 */
 :root[color-scheme="dark"] {
  --color-primary: 112, 72, 232;
  --color-primary-dark: 95, 61, 196;
  --color-accent: 127, 255, 0;
  --color-accent-dark: 102, 205, 0;
  --color-primary-contrast: 255, 255, 255;
  --color-accent-contrast: 0, 0, 0;
  --color-bg: 17, 17, 17;
  --color-bg-inverse: 255, 255, 255;
  --color-fg: 255, 255, 255;
  --color-fg-inverse: 0, 0, 0;
  --shadow-override: 0, 0, 0;
  --background-color: rgb(var(--color-bg));
  --text-color: rgb(var(--color-fg));
  --text-color-inverse: rgb(var(--color-fg-inverse));
  --grey-variant-1: rgb(var(--color-grey-900));
  --grey-variant-2: rgba(var(--color-grey-900), 0.95);
  --grey-variant-3: rgba(var(--color-grey-700), 0.2);
  --category-background-color: #212121;
  --category-title-color: #fff;
  --forum-link-color: rgb(var(--color-accent));
  --dialog-bg-color: #212121;
  --dialog-text-color: hsla(0, 0%, 100%, 0.87);
}

/**
 * User defined light mode Color Scheme on WebSite
 */
:root[color-scheme="light"] {
  --color-primary: 112, 72, 232;
  --color-primary-dark: 95, 61, 196;
  --color-accent: 56, 142, 60;
  --color-accent-dark: 27, 94, 32;
  --color-primary-contrast: 255, 255, 255;
  --color-accent-contrast: 255, 255, 255;
  --color-bg: 255, 255, 255;
  --color-bg-inverse: 0, 0, 0;
  --color-fg: 0, 0, 0;
  --color-fg-inverse: 255, 255, 255;
  --shadow-override: 0, 0, 0;
  --background-color: rgb(var(--color-bg));
  --text-color: rgb(var(--color-fg));
  --text-color-inverse: rgb(var(--color-fg-inverse));
  --grey-variant-1: rgb(var(--color-grey-100));
  --grey-variant-2: rgb(var(--color-bg));
  --grey-variant-3: rgb(var(--color-grey-200));
  --category-background-color: #fff;
  --category-title-color: #fff;
  --forum-link-color: var(--text-color-primary);
  --dialog-bg-color: #fff;
  --dialog-text-color: rgba(0, 0, 0, 0.87);
}
