$material-design-icons-font-directory-path: "../fonts/";

// Override for Material Design Color Theme
@import "override-mdl-colors";

// Material Design Styles
@import "mdl-custom";

// Material UI Icons
@import "../../node_modules/material-design-icons-iconfont/src/material-design-icons.scss";

@import "generic";
@import "list";
@import "drawer";
@import "category";
@import "forum";
@import "subforum";

// main elements
html, body {
  background-color: var(--background-color);
}

// MDL overrides

.mdl-layout-title {
  > a {
    color: inherit;
    text-decoration: none;
  }
}

.mdl-button {
  text-decoration: none;
}

.mdl-list__item-avatar {
  > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

@media (max-width: $grid-tablet-breakpoint) {
  header .mdl-layout-title {
    display: none;
  }
}

.mdt-menu__headline {
  @extend .mdl-menu__item--full-bleed-divider;
  font-weight: 700;
}

.mdt-menu__headline, .mdt-menu__item-inactive {
  @extend .mdl-menu__item;
  cursor: default;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    outline: none;
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

.mdt-menu__item-inactive {
  line-height: 150%;
  height: auto;
}

.mdt-forum-permissions {
  padding-top: 0;
  
  .mdt-menu__headline {
    margin-bottom: 12px;
  }  
}

.mdl-menu__item .material-icons {
  vertical-align: middle;
}

.mdl-button, .mdl-menu__item {
  &:hover {
    text-decoration: none;
  }
}

.mdl-dialog {
  background-color: var(--dialog-bg-color);
}
.mdl-dialog__title {
  color: var(--dialog-text-color);
}

// generic components

.mdt-display-options {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  label {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  select {
    height: 36px;
  }
}

// drawer

@media (min-width: $grid-tablet-breakpoint) {
  .mdl-layout__drawer {
    width: $layout-drawer-wide;
    transform: translateX(-($layout-drawer-wide + 10));
  }
}

// drawer profile

.mdt-profile-btn {
  @extend .mdl-button, .mdl-button--icon;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.mdt-drawer-profile {
  @extend .mdl-card;
  width: 100%;
  min-height: 0;
}
.mdt-drawer-profile-content {
  @extend .mdl-card__actions,
          .mdl-card__media,
          .mdl-card--expand,
          .mdl-card--border;
  display: flex;
  flex-direction: column;
  padding: $card-vertical-padding $card-horizontal-padding;
}

.mdt-drawer-profile-image {
  margin-bottom: $card-vertical-padding;
  > img {
    @include shadow-3dp();
    border-radius: 10%;
  }
}

@media (min-width: $grid-tablet-breakpoint) {
  .mdt-drawer-profile-content {
    flex-direction: row;
  }
  .mdt-drawer-profile-image {
    margin-right: $card-horizontal-padding;
    margin-bottom: 0;
  }
  .mdt-drawer-profile-typo {
    flex: 1;
  }
}

.mdt-drawer-profile-action {
  @extend .mdl-card__actions;
  padding: 0;
}
.mdt-drawer-profile-title {
  @extend .mdl-card__title-text;
  color: var(--text-color-primary);
  border-bottom: 1px solid $default-item-divider-color;
  margin-bottom: ($card-vertical-padding / 2);
}
.mdt-drawer-profile-text {
  @extend .mdl-card__subtitle-text;
  font-size: $card-supporting-text-font-size;
}

.mdt-modal-links {
  margin-top: 1rem;
  text-align: right;
  a {
    font-size: 1em;
  }
}

// drawer user control

.mdt-drawer-buttons {
  @extend .mdt-drawer-profile-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

// drawer scale:
// 2 columns on small devices < 480px
// 4 columns on larger devices >= 480px
$profile-btn-width: 92px;

// 24px icon, max. 3 lines text (up to 36px), 4px to 16px space => 64px
$profile-btn-height: 64px;

// looks best in my personal opinion
$profile-btn-font-size: 12px;

.mdt-drawer-profile-btn {
  @extend .mdl-button;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: $profile-btn-font-size;
  line-height: $profile-btn-font-size;
  width: $profile-btn-width;
  min-height: $profile-btn-height;
  height: auto;
  margin-bottom: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  > span {
    margin-top: 8px;
    text-transform: none;
  }
}

// drawer list

.mdt-notification-indicator {
  @extend .mdl-list__item, .mdl-list__item--two-line;
  margin-bottom: 16px;
}

// drawer notifications

.mdt-notification {
  @extend .mdl-list__item, .mdl-list__item--three-line;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0;
  &:hover {
    background-color: var(--grey-variant-3);
  }
  .mdt-notification-content {
    @extend .mdl-list__item-primary-content;
    height: auto;
    color: inherit;
    padding: $card-vertical-padding 0 $card-horizontal-padding $card-vertical-padding;
  }
  .dl-list__item-secondary-content {
    margin: 0 $card-horizontal-padding;    
  }
  .mdl-list__item-text-body {
    height: auto;
  }
}

.mdt-notification-highlight {
  @include shadow-2dp();
  background-color: transparent;
  transition: 0.1s ease-in-out;
  &:hover {
    border-left: 3px solid rgba(var(--color-accent), 1);
    background-color: transparent;
  }
}

// toolbar

.mdt-toolbar {
  @extend .mdl-chip;
  display: flex;
  padding: 0;
  margin: 0;
}

.mdt-toolbar-toggle {
  @extend .mdl-button, .mdl-button--icon;
}

.mdt-toolbar-content {
  display: flex;
  list-style: none;
  line-height: 32px;
  margin: 0;
  padding: 0;
  min-width: 0;
  max-width: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
  &.mdt-toolbar-expandable {
    min-width: 96px;
    max-width: 128px;
    width: auto;
  }
  > li {
    margin: 0 4px;
  }
}

// topics

.mdt-topic {
  display: grid;
  grid-template-columns: 40px 12px auto;
}

.mdt-topic-content {
  display: flex;
  align-items: center;
  grid-column: 3;
}

.mdt-topic-addition {
  grid-column: 3;
}

.mdt-topic-icon {
  @extend .mdl-button, .mdl-button--icon;
  display: flex;
  align-items: center;
  justify-content: center;
  width:  40px;
  height: 40px;
  &.material-icons {
    font-size: 30px;
  }
  img {
    width: 100%;
  }
}

.mdt-topic-info {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  .mdl-chip__text {
    font-size: 11px;
  }
  .material-icons {
    font-size: 18px;
    vertical-align: middle;
  }
}

.mdt-topic-headline {
  @extend .mdl-card__title-text;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  min-height: 40px;
}

.mdt-topic-menu {
  min-width: 0;
  max-width: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
  &.mdt-topic-menu-expandable {
    max-width: 96px;
    width: auto;
  }
}

.mdt-topic-paging {
  padding: 0;
  .material-icons {
    font-size: 18px;
  }
  a {
    @extend .mdl-button, .mdl-button--icon;
    font-size: inherit;
    line-height: inherit;
    &:hover {
      font-weight: 700;
    }
  }
}

// poll

.mdt-topic-header {
  @extend .mdl-card;
  width: auto;
}

.mdt-topic-header-content {
  @extend .mdl-card__title;
}

.mdt-poll {
  display: flex;
  flex-direction: column;
  margin-bottom: $category-vertical-margin;
  h3 {
    margin-bottom: 0;
  }
}

.mdt-poll-item {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  cursor: pointer;
  min-height: 32px;
  label {
    cursor: pointer;
    height: auto;
  }
}

.mdt-chart {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 1px;
}

.mdt-chart-label {
  padding-left: 24px;
}

.mdt-chart-content {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  align-items: center;
  min-height: 32px;
}

.mdt-chart-bar {
  display: block;
  background: linear-gradient(180deg, rgba(var(--color-accent), 0.1), rgba(var(--color-accent), 0.5));
  transition: width 0.3s ease-in;
  height: 8px;
  border-radius: 3px;
  width: 0;
}

.mdt-chart-percent {
  text-align: right;
  margin-right: 8px;
  font-weight: 700;
}

.mdt-chart-footer {
  margin-top: 12px;
}

// .mdt-poll-content {

// }

// forum posts
