{% import "macros/nav.twig" as nav %}

{% if searchresults|length > 0 %}{% for result in searchresults %}
{% EVENT search_results_topic_before %}

<li>
  <section>
    <header class="mdt-header-indent">
      <div class="mdt-grid-list-header-horiz">
        {% if result.TOPIC_ICON_IMG %}
        <img src="{{ T_ICONS_PATH }}{{ result.TOPIC_ICON_IMG }}" alt="">
        {% endif %}
        <h3><a href="{{ result.U_VIEW_TOPIC }}">{{ result.TOPIC_TITLE }}</a></h3>
        {% if result.pagination %}
        <span class="mdt-paging">
          <span class="mdl-chip__text">
            {% for paging in result.pagination %}
            {% if paging.S_IS_PREV %}
            {% elseif paging.S_IS_CURRENT %}
            <span class="mdt-paging-span">{{ paging.PAGE_NUMBER }}</span>
            {% elseif paging.S_IS_ELLIPSIS %}
            <span class="mdt-paging-span">{{ lang('ELLIPSIS') }}</span>
            {% elseif paging.S_IS_NEXT %}
            {% else %}
            <a class="mdt-paging-link" href="{{ paging.PAGE_URL }}">
              {{ paging.PAGE_NUMBER }}
            </a>
            {% endif %}
            {% endfor %}
          </span>
        </span>
        {% endif %}
      </div>
      {% EVENT topiclist_row_topic_title_after %}
      <p>
        {{ lang('POST_BY_AUTHOR') }}
        {% EVENT search_results_topic_author_username_prepend %}
        {{ result.TOPIC_AUTHOR_FULL }}
        {% EVENT search_results_topic_author_username_append %}
        &raquo;
        <time datetime="{{ result.FIRST_POST_TIME_RFC3339 }}">
          {{ result.FIRST_POST_TIME }}
        </time>
        {% EVENT topiclist_row_topic_by_author_after %}
      </p>
    </header>
    <p>
      <a class="mdt-link" href="{{ result.U_LAST_POST }}">{{ lang('LAST_POST') }}</a>
      {{ lang('POST_BY_AUTHOR') }}
      {% EVENT search_results_last_post_author_username_prepend %}
      {{ result.LAST_POST_AUTHOR_FULL }}
      {% EVENT search_results_last_post_author_username_append %}
      <time datetime="{{ result.LAST_POST_TIME_RFC3339 }}">{{ result.LAST_POST_TIME }}</time>
    </p>
  </section>
  <aside class="mdt-grid-list-data">
    <data value="{{ result.TOPIC_REPLIES }}" aria-label="{{ lang('REPLIES') }}{{ lang('COLON') }} {{ result.TOPIC_REPLIES }}">{{ lang('REPLIES') }}</data>
    <data value="{{ result.TOPIC_VIEWS }}" aria-label="{{ lang('VIEWS') }}{{ lang('COLON') }} {{ result.TOPIC_VIEWS }}">{{ lang('VIEWS') }}</data>
  </aside>
  {% EVENT topiclist_row_prepend %}

  {% set debug = false %}
  {% set isUnreadTopic = debug or result.S_UNREAD_TOPIC and not S_IS_BOT %}
  {% set isUnapproved = debug or result.S_TOPIC_UNAPPROVED or result.S_POSTS_UNAPPROVED %}
  {% set isDeleted = debug or result.S_TOPIC_DELETED %}
  {% set isReported = debug or result.S_TOPIC_REPORTED %}

  {% if isUnreadTopic or isUnapproved or isDeleted or isReported %}
  <section class="mdt-grid-list-addition mdt-full-size">
    {{ nav.conditionalLink(
      isUnreadTopic,
      result.U_NEWEST_POST,
      lang('NEW_POST'), 'post_add') }}

    {{ nav.conditionalLink(
      isUnapproved,
      result.U_MCP_QUEUE,
      lang('TOPIC_UNAPPROVED'), 'approval') }}

    {{ nav.conditionalLink(
      isDeleted,
      result.U_MCP_QUEUE,
      lang('TOPIC_DELETED'), 'delete_sweep') }}

    {{ nav.conditionalLink(
      isReported,
      result.U_MCP_REPORT,
      lang('TOPIC_REPORTED'), 'report') }}
  </section>
  {% endif %}
  {% EVENT topiclist_row_append %}
</li>
{% EVENT search_results_topic_after %}
{% endfor %}{% else %}
<li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">{{ lang('NO_SEARCH_RESULTS') }}</span>
</li>
{% endif %}