.mdt-form-fields {
  padding: 16px;
}

.mdt-floatlabel-input {
  @extend .mdl-textfield, .mdl-textfield--floating-label;
}

.mdt-textfield-description {
  display: block;
  margin-top: -16px;
  padding-bottom: 16px;
}
