
// Small devices (landscape phones, 576px and up)
$breakpoint-phones-landscape: 576px;

// Medium devices (tablets, 768px and up)
$breakpoint-tablets: 768px;

// Large devices (desktops, 992px and up)
$breakpoint-desktops: 992px;

// Extra large devices (large desktops, 1200px and up)
$breakpoint-large-desktops: 1200px;

$jumpbox-max-height: 184px;
