{% if S_USER_LOGGED_IN %}
<button id="appbar-profile-btn" class="mdt-profile-btn mdl-js-button mdl-js-ripple-effect">
  {% if CURRENT_USER_AVATAR %}
  {{ CURRENT_USER_AVATAR }}
  {% else %}
  <i class="material-icons">account_circle</i>
  {% endif %}
</button>
<nav class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="appbar-profile-btn">
  {% EVENT overall_header_searchbox_after %}
  <b class="mdt-menu__headline">{{ S_USERNAME }}</b>
  {% if U_RESTORE_PERMISSIONS %}
  <a class="mdl-menu__item" href="{{ U_RESTORE_PERMISSIONS }}">{{ lang('RESTORE_PERMISSIONS') }}</a>
  {% endif %}

  {% EVENT navbar_header_profile_list_before %}

  <a class="mdl-menu__item" href="{{ U_PROFILE }}">
    <i class="material-icons">miscellaneous_services</i>
    {{ lang('PROFILE') }}
  </a>

  {% if U_USER_PROFILE %}
  <a class="mdl-menu__item mdl-menu__item--full-bleed-divider" href="{{ U_USER_PROFILE }}">
    <i class="material-icons">person</i>
    {{ lang('READ_PROFILE') }}
  </a>
  {% endif %}

  {% EVENT navbar_header_profile_list_after %}

  {% if U_ACP %}
  <a class="mdl-menu__item mdl-color--primary mdl-color-text--primary-contrast mdl-menu__item--full-bleed-divider" href="{{ U_ACP }}">
    <i class="material-icons">admin_panel_settings</i>
    {{ lang('ACP') }}
  </a>
  {% endif %}
  {% if U_MCP %}
  <a class="mdl-menu__item mdl-color--primary mdl-color-text--primary-contrast mdl-menu__item--full-bleed-divider" href="{{ U_MCP }}">
    <i class="material-icons">local_police</i>
    {{ lang('MCP') }}
  </a>
  {% endif %}
  {% if S_USER_LOGGED_IN %}
  <a class="mdl-menu__item" href="{{ U_LOGIN_LOGOUT }}">
    <i class="material-icons">logout</i>
    {{ lang('LOGIN_LOGOUT') }}
  </a>
  {% endif %}
</nav>
{% else %}
<button id="appbar-login-btn" class="mdt-profile-btn mdl-js-button mdl-js-ripple-effect">
  <i class="material-icons">account_circle</i>
</button>
<dialog class="mdl-dialog" id="appbar-login-dialog">
  <h4 class="mdl-dialog__title">{{ lang('LOGIN') }}</h4>
  <form action="{{ U_LOGIN_LOGOUT }}" method="POST">
    <div class="mdl-dialog__content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username" id="appbar-profile-username">
        <label class="mdl-textfield__label" for="appbar-profile-username">{{ lang('USERNAME') }}</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password" id="appbar-profile-password">
        <label class="mdl-textfield__label" for="appbar-profile-passwprd">{{ lang('PASSWORD') }}</label>
      </div>
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="appbar-autologin">
        <input type="checkbox" name="autologin" id="appbar-autologin" class="mdl-switch__input">
        <span class="mdl-switch__label">{{ lang('LOG_ME_IN') }}</span>
      </label>

      {{ S_LOGIN_REDIRECT }}
      {{ S_FORM_TOKEN_LOGIN }}
    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" name="login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">{{ lang('LOGIN') }}</button>
      <button type="button" class="mdl-button close mdl-js-button mdl-button--raised mdl-js-ripple-effect">{{ lang('CANCEL') }}</button>
    </div>
  </form>
  <div class="mdt-modal-links">
    {% if U_SEND_PASSWORD %}
    <a href="{{ U_SEND_PASSWORD }}">{{ lang('FORGOT_PASS') }}</a>
    {% endif %}
    {% if S_REGISTER_ENABLED %}
    <a href="{{ U_REGISTER }}">{{ lang('REGISTER') }}</a>
    {% endif %}
  </div>
</dialog>
{% endif %}
