{% if notification.UNREAD %}
<li class="pbb-notification pbb-notification-highlight">
{% else %}
<li class="pbb-notification">
{% endif %}
  {% if notification.URL %}
  <a href="{{ notification.URL }}" class="pbb-notification-content">
  {% else %}
  <span class="pbb-notification-content">
  {% endif %}
    {% if notification.AVATAR %}
    <span class="mdl-list__item-avatar">{{ notification.AVATAR }}</span>
    {% else %}
    <i class="material-icons mdl-list__item-avatar">person</i>
    {% endif %}
    
    {{ notification.FORMATTED_TITLE }}
    
    <span class="mdl-list__item-text-body">
      {% if notification.UNREAD %}
      <b>
      {% endif %}
      {% if notification.REFERENCE %}{{ notification.REFERENCE }}{% endif %}
      {% if notification.FORUM %}{{ notification.FORUM }}{% endif %}
      {% if notification.REASON %}{{ notification.REASON }}{% endif %}
      {% if notification.UNREAD %}
      </b>
      {% endif %}
    </span>
  {% if not notification.URL %}
  </span>
  {% else %}
  </a>
  {% endif %}
  {% if notification.UNREAD %}
  <a class="dl-list__item-secondary-content" href="{{ notification.U_MARK_READ }}" title="{L_MARK_READ}">
    <i class="material-icons mui--align-middle">mark_email_read</i>
  </a>
  {% endif %}
</li>
