<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>POST LAYOUT</title>
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
    <div class="mdt-post">
      <header>
        <time datetime="2021-04-19T21:02:31+00:00"
          >Mon Apr 19, 2021 9:02 pm</time
        >
      </header>
      <section>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
          kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          amet.
        </p>
        <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
          vel eum iriure dolor in hendrerit in vulputate velit esse molestie
          consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
          accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi.
        </p>
      </section>
      <aside class="mdt-post-profile">
        <figure>
          <a
            href="http://192.168.176.55/md-theme.com/memberlist.php?mode=viewprofile&amp;u=49&amp;sid=e2ee3e615396ec6b60dc5274955e1658"
          >
            <img
              class="avatar"
              src="http://192.168.176.55/md-theme.com/download/file.php?avatar=49_1619027342.png"
              width="128"
              height="128"
              alt="User avatar"
            />
          </a>
        </figure>

        <span class="mdt-post-profile-name">
          <a
            href="http://192.168.176.55/md-theme.com/memberlist.php?mode=viewprofile&amp;u=49&amp;sid=e2ee3e615396ec6b60dc5274955e1658"
            class="username"
            >test1</a
          >
        </span>

        <span>
          Moderator
        </span>

      </aside>
      <footer></footer>
    </div>

    <div class="mdt-post mdt-post-variant">
      <header>
        <time datetime="2021-04-19T21:02:31+00:00"
          >Mon Apr 19, 2021 9:02 pm</time
        >
      </header>
      <section>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
          kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          amet.
        </p>
        <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
          vel eum iriure dolor in hendrerit in vulputate velit esse molestie
          consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
          accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi.
        </p>
      </section>
      <aside class="mdt-post-profile">
        <figure>
          <a
            href="http://192.168.176.55/md-theme.com/memberlist.php?mode=viewprofile&amp;u=49&amp;sid=e2ee3e615396ec6b60dc5274955e1658"
          >
            <img
              class="avatar"
              src="http://192.168.176.55/md-theme.com/download/file.php?avatar=49_1619027342.png"
              width="128"
              height="128"
              alt="User avatar"
            />
          </a>
        </figure>

        <span class="mdt-post-profile-name">
          <a
            href="http://192.168.176.55/md-theme.com/memberlist.php?mode=viewprofile&amp;u=49&amp;sid=e2ee3e615396ec6b60dc5274955e1658"
            class="username"
            >test1</a
          >
        </span>

        <span>
          Moderator
        </span>

      </aside>
      <footer></footer>
    </div>

    <script type="module" src="../assets/material.js"></script>
    <!-- <script type="module" src="../assets/main.js"></script> -->
  </body>
</html>
