<div class="mdt-container">
  <div class="mdt-container-title">
    {% EVENT viewtopic_topic_title_before %}
    <h2 class="mdl-card__title-text">
      {% EVENT viewtopic_topic_title_prepend %}
      {{ TOPIC_TITLE }}
      {% EVENT viewtopic_topic_title_append %}
    </h2>
    {% EVENT viewtopic_topic_title_after %}
  </div>
  <ul class="mdl-list">
    {% if FORUM_DESC %}
    <li class="mdl-list__item">
      <div class="mdt-search-query-content">{{ FORUM_DESC }}</div>
    </li>
    {% endif %}


    {% if MODERATORS %}
    <li class="mdl-list__item">
      <span>{% if S_SINGLE_MODERATOR %}
      {{ lang('MODERATOR') }}{{ lang('COLON') }}
      {% else %}
      {{ lang('MODERATORS') }}{{ lang('COLON') }}
      {% endif %}
      {{ MODERATORS }}</span>
    </li>
    {% endif %}
  </ul>
</div>

{% include('topic/topic_actions_top.html') %}

<div class="mdt-topic-header">
  <div class="mdt-topic-header-content">
    {% include('topic/topic_poll.html') %}
  </div>
</div>

<ul class="mdt-list">
  {% include('topic/topic_posts.html') %}
</ul>
