{% for row in postrow %}
{% EVENT viewtopic_body_row_post_before %}
<li id="p{{ row.POST_ID }}" class="mdt-post">
  <header>
    {% EVENT viewtopic_body_post_subject_before %}
		<div>
      <h3>
        {% if row.POST_ICON_IMG %}
          <img src="{{ T_ICONS_PATH }}{{ row.POST_ICON_IMG }}" width="{{ row.POST_ICON_IMG_WIDTH }}" height="{{ row.POST_ICON_IMG_HEIGHT }}" alt="{{ row.POST_ICON_IMG_ALT }}" title="{{ row.POST_ICON_IMG_ALT }}">
        {% endif %}
        {{ row.POST_SUBJECT }}
      </h3>
      <time datetime="{{ row.POST_DATE_RFC3339 }}">{{ row.POST_DATE }}</time>
    </div>
    {{ include('topic/topic_posts_actions.html') }}
  </header>
  <section>
    {{ row.MESSAGE }}
  </section>
  <footer>
    {% if row.S_POST_HIDDEN %}
    {% if row.S_POST_DELETED %}
    <div class="ignore" id="post_hidden{{ row.POST_ID }}">
      {{ row.L_POST_DELETED_MESSAGE }}<br />
      {{ row.L_POST_DISPLAY }}
    </div>
    {% elseif row.S_IGNORE_POST %}
    <div class="ignore" id="post_hidden{{ row.POST_ID }}">
      {{ row.L_IGNORE_POST }}<br />
      {{ row.L_POST_DISPLAY }}
    </div>
    {% endif %}
    {% endif %}

    {% EVENT viewtopic_body_row_content_after %}
    {{ include('topic/topic_posts_attachment.html') }}
    {% EVENT viewtopic_body_row_post_notices_before %}
  </footer>
  <aside class="mdt-user">
    <figure class="mdt-user-avatar">
      {% EVENT viewtopic_body_avatar_before %}
      {% if row.U_POST_AUTHOR %}
      <a href="{{ row.U_POST_AUTHOR }}">
      {% endif %}
        {% if row.POSTER_AVATAR %}
        {{ row.POSTER_AVATAR }}
        {% else %}
        <i class="material-icons">person</i>
        {% endif %}
      {% if row.U_POST_AUTHOR %}
      </a>
      {% endif %}
      {% EVENT viewtopic_body_avatar_after %}
    </figure>

    {% EVENT viewtopic_body_post_author_before %}
    <span class="mdt-user-name">
      {{ row.POST_AUTHOR_FULL }}
      {{ include('topic/topic_posts_contact.html') }}
    </span>
    {% EVENT viewtopic_body_post_author_after %}

    {% EVENT viewtopic_body_row_rank_before %}
    {% if row.RANK_TITLE and row.RANK_IMG %}
    <figure>
      {{ row.RANK_IMG }}
      <figcaption>{{ row.RANK_TITLE }}</figcaption>
    </figure>
    {% elseif row.RANK_TITLE %}
    <span>{{ row.RANK_TITLE }}</span>
    {% elseif row.RANK_IMG %}
    <span>{{ row.RANK_IMG }}</span>
    {% endif %}
    {% EVENT viewtopic_body_row_rank_after %}

  </aside>
</li>
{#
	{% if row.S_FIRST_UNREAD %}
  <a id="unread" class="anchor"{% if S_UNREAD_VIEW %} data-url="{{ row.U_MINI_POST }}"{% endif %}></a>
	{% endif %}
	<div id="p{{ row.POST_ID }}" class="post has-profile {% if row.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}{% if row.S_UNREAD_POST %} unreadpost{% endif %}{% if row.S_POST_REPORTED %} reported{% endif %}{% if row.S_POST_DELETED %} deleted{% endif %}{% if row.S_ONLINE and not row.S_POST_HIDDEN %} online{% endif %}{% if row.POSTER_WARNINGS %} warned{% endif %}">
		<div class="inner">

		<div class="postbody">
			{% if row.S_POST_HIDDEN %}
				{% if row.S_POST_DELETED %}
					<div class="ignore" id="post_hidden{{ row.POST_ID }}">
						{{ row.L_POST_DELETED_MESSAGE }}<br />
						{{ row.L_POST_DISPLAY }}
					</div>
				{% elseif row.S_IGNORE_POST %}
					<div class="ignore" id="post_hidden{{ row.POST_ID }}">
						{{ row.L_IGNORE_POST }}<br />
						{{ row.L_POST_DISPLAY }}
					</div>
				{% endif %}
			{% endif %}
			<div id="post_content{{ row.POST_ID }}"{% if row.S_POST_HIDDEN %} style="display: none;"{% endif %}>

			{% EVENT viewtopic_body_post_subject_before %}
		<h3 {% if row.S_FIRST_ROW %}class="first"{% endif %}>
			{% if row.POST_ICON_IMG %}
				<img src="{{ T_ICONS_PATH }}{{ row.POST_ICON_IMG }}" width="{{ row.POST_ICON_IMG_WIDTH }}" height="{{ row.POST_ICON_IMG_HEIGHT }}" alt="{{ row.POST_ICON_IMG_ALT }}" title="{{ row.POST_ICON_IMG_ALT }}">
			{% endif %}
			<a {% if row.S_FIRST_UNREAD %}class="first-unread" {% endif %}href="{{ row.U_MINI_POST }}">{{ row.POST_SUBJECT }}</a>
		</h3>

			<p class="author">
				{% if S_IS_BOT %}
					<span><i class="icon fa-file fa-fw {% if row.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ row.MINI_POST }}</span></span>
				{% else %}
					<a class="unread" href="{{ row.U_MINI_POST }}" title="{{ row.MINI_POST }}">
						<i class="icon fa-file fa-fw {% if row.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ row.MINI_POST }}</span>
					</a>
				{% endif %}
				<span class="responsive-hide">{{ lang('POST_BY_AUTHOR') }} <strong>{{ row.POST_AUTHOR_FULL }}</strong> &raquo; </span><time datetime="{{ row.POST_DATE_RFC3339 }}">{{ row.POST_DATE }}</time>
			</p>
			{% EVENT viewtopic_body_row_post_details_after %}

			{% if row.S_POST_UNAPPROVED %}
        {% if row.S_CAN_APPROVE %}
        <form method="post" class="mcp_approve" action="{{ row.U_APPROVE_ACTION }}">
          <p class="post-notice unapproved">
            <span><i class="icon fa-question icon-red fa-fw" aria-hidden="true"></i></span>
            <strong>{{ lang('POST_UNAPPROVED_ACTION') }}</strong>
            <input class="button2" type="submit" value="{{ lang('DISAPPROVE') }}" name="action[disapprove]" />
            <input class="button1" type="submit" value="{{ lang('APPROVE') }}" name="action[approve]" />
            <input type="hidden" name="post_id_list[]" value="{{ row.POST_ID }}" />
            {{ S_FORM_TOKEN }}
          </p>
        </form>
        {% else %}
          <p class="post-notice unapproved">
            <span><i class="icon fa-exclamation icon-red fa-fw" aria-hidden="true"></i></span>
            <strong>{{ lang('POST_UNAPPROVED_EXPLAIN') }}</strong>
          </p>
        {% endif %}
			{% elseif row.S_POST_DELETED %}
			<form method="post" class="mcp_approve" action="{{ row.U_APPROVE_ACTION }}">
				<p class="post-notice deleted">
					<strong>{{ lang('POST_DELETED_ACTION') }}</strong>
					{% if row.S_DELETE_PERMANENT %}
						<input class="button2" type="submit" value="{{ lang('DELETE') }}" name="action[delete]" />
					{% endif %}
					<input class="button1" type="submit" value="{{ lang('RESTORE') }}" name="action[restore]" />
					<input type="hidden" name="post_id_list[]" value="{{ row.POST_ID }}" />
					{{ S_FORM_TOKEN }}
				</p>
			</form>
			{% endif %}

			{% if row.S_POST_REPORTED %}
			<p class="post-notice reported">
				<a href="{{ row.U_MCP_REPORT }}"><i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><strong>{{ lang('POST_REPORTED') }}</strong></a>
			</p>
			{% endif %}

			<div class="content">{{ row.MESSAGE }}</div>

			{% EVENT viewtopic_body_row_content_after %}
      {{ include('topic/topic_posts_attachment.html') }}
			{% EVENT viewtopic_body_row_post_notices_before %}
			{% if row.S_DISPLAY_NOTICE %}
      <div class="rules">{{ lang('DOWNLOAD_NOTICE') }}</div>
      {% endif %}
			{% if row.DELETED_MESSAGE or row.DELETE_REASON %}
				<div class="notice post_deleted_msg">
					{{ row.DELETED_MESSAGE }}
					{% if row.DELETE_REASON %}
          <br />
          <strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong>
          <em>{{ row.DELETE_REASON }}</em>
          {% endif %}
				</div>
			{% elseif row.EDITED_MESSAGE or row.EDIT_REASON %}
				<div class="notice">
					{{ row.EDITED_MESSAGE }}
					{% if row.EDIT_REASON %}
          <br />
          <strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong>
          <em>{{ row.EDIT_REASON }}</em>
          {% endif %}
				</div>
			{% endif %}

			{% if row.BUMPED_MESSAGE %}
      <div class="notice"><br /><br />
        {{ row.BUMPED_MESSAGE }}
      </div>
      {% endif %}
			{% EVENT viewtopic_body_row_post_notices_after %}
			{% if row.SIGNATURE %}
      <div id="sig{{ row.POST_ID }}" class="signature">
        {{ row.SIGNATURE }}
      </div>
      {% endif %}

			{% EVENT viewtopic_body_row_post_content_footer %}
			</div>

		</div>

		{% EVENT viewtopic_body_row_back2top_before %}
		<div class="back2top">
			{% EVENT viewtopic_body_row_back2top_prepend %}
			<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
				<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
				<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
			</a>
			{% EVENT viewtopic_body_row_back2top_append %}
		</div>
		{% EVENT viewtopic_body_row_back2top_after %}

		</div>
	</div>
#}
	{% EVENT viewtopic_body_row_post_after %}
{% endfor %}
