.profile-dropdown {
  .more-btn {
    box-sizing: border-box;
    border: 3px solid rgba($mui-appbar-font-color, 0.5);
    width: 1.5rem;
    height: 1.5rem;
    &.no-avatar {
      @extend .mui--bg-accent-dark;
      color: $mui-appbar-bg-color;
      &:hover, &:active {
        background-color: $mui-appbar-bg-color;
        color: $mui-appbar-font-color;
      }
    }
    > img {
      width: inherit;
      height: inherit;
    }
    > .material-icons {
      margin-top: -3px;
      margin-left: -3px;
    }
  }
  .loginform {
    min-width: 11rem;
    padding: 0.5rem 1rem;
    color: $mui-text-dark;
    h3 {
      @extend .mui--text-title;
      color: $mui-form-legend-font-color;
      margin: 0;
    }
    p {
      @extend .mui--text-caption;
      color: $mui-link-font-color;
      margin: 1rem 0 0;
      text-align: right;
    }
    button {
      @extend .mui-btn, .mui-btn--primary;
    }
  }
  .logout-item {
    margin-top: 0.35rem;
  }
}

.profile-overview {
  @extend .mui-panel, .media;
}

.profile-content {
  @extend .media-content;

  h3, h4, dt, dd, p {
    padding-left: 0.5rem;
  }

  h3, h4 {
    @extend .media-headline;
  }
  .badge {
    align-self: flex-start;
    margin-left: 0.5rem;
  }
  
  h3, h4, dl {
    margin: 0;
  }

  dl {
    @extend .mui-list--unstyled;
    dt, dd {
      margin: 0;
      font-size: 0.6rem;
    }
    dt {
      @extend .mui--text-button;
      color: $mui-text-dark-hint;
      margin-top: 0.25rem;
    }
  }
}

.profile-notifications {
  @extend .mui-panel;
  padding: 0.25rem;
  margin: 0;

  .profile-notification {
    @extend .mui--z1, .mui--divider-top;
    margin: 0.5rem;
    &:hover {
      background-color: $mui-btn-flat-bg-color-hover;
    }
    .actionbar {
      @extend .mui--text-right, .mui--text-caption, .mui--divider-top;
      padding: 0.125rem 0.5rem;
    }
  }

  .profile-overview {
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: $mui-text-dark;
    background-color: transparent;
    &:hover, &:active {
      text-decoration: none;
    }
    img {
      margin: 0.125rem;
      width: 2rem;
      height: 2rem;
    }
    .profile-content {
      h4, p {
        @extend .mui--text-caption;
        font-size: 0.7rem;
        margin: 0;
        padding-right: 0.5rem;
      }
    }
  }

}