<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
      {% if NOTIFICATIONS_COUNT %}
      <i class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ NOTIFICATIONS_COUNT }}">menu</i>
      {% else %}
      <i class="material-icons">menu</i>
      {% endif %}
    </div>

    {% EVENT overall_header_headerbar_before %}

    {{ include('appbar/appbar_title.html') }}
    <div class="mdl-layout-spacer"></div>

    {{ include('search/appbar_search_menu.html') }}
    {{ include('profile/appbar_profile_menu.html') }}
    <button id="color-mode-btn" class="mdt-profile-btn mdl-js-button mdl-js-ripple-effect"><i class="material-icons">wb_sunny</i></button>

    {% EVENT overall_header_headerbar_after %}
  </div>
</header>