<header class="mui-appbar">
  <section class="appbar-left">
    <!-- EVENT overall_header_headerbar_before -->
    <!-- INCLUDE appbar/appbar_menu_btn.html -->
    <!-- INCLUDE appbar/appbar_logo.html -->
    <!-- INCLUDE appbar/appbar_title.html -->
  </section>
  <section class="appbar-middle"></section>
  <section class="appbar-right">
    <!-- INCLUDE profile/appbar_profile_menu.html -->
    <!-- INCLUDE search/appbar_search_menu.html -->
    <!-- EVENT overall_header_headerbar_after -->
  </section>
</header>
