<div class="pbb-forum">
  <div class="pbb-forum-content">
    <h2>
      {% EVENT viewforum_forum_name_prepend %}
      {{ FORUM_NAME }}
      {% EVENT viewforum_forum_name_append %}
    </h2>
    {% EVENT viewforum_forum_title_after %}

    {% if FORUM_DESC or MODERATORS or U_MCP %}
    <div>
      {% if FORUM_DESC %}
      <div>{{ FORUM_DESC }}</div>
      {% endif %}

      {% if MODERATORS %}
      <p><strong>
        {% if S_SINGLE_MODERATOR %}
        {L_MODERATOR}{L_COLON}
        {% else %}
        {L_MODERATORS}{L_COLON}
        {% endif %}
      </strong> {{ MODERATORS }}</p>
      {% endif %}
    </div>
    {% endif %}

    {% if S_FORUM_RULES %}
    <div class="pbb-forum-rules">
      {% if U_FORUM_RULES %}
      <a id="forum-rules" class="mdl-button mdl-button--raised" rel="nofollow" target="_blank" href="{{ U_FORUM_RULES }}">
        {L_FORUM_RULES}
      </a>
      <div class="mdl-tooltip" for="forum-rules">
        <div clas="mdl-tooltip__text">{{ FORUM_RULES }}</div>
      </div>
      {% else %}
      <h4>{L_FORUM_RULES}</h4>
      <p>{{ FORUM_RULES }}</p>
      {% endif %}
    </div>
    {% endif %}

    {% if S_HAS_SUBFORUM %}
    <h4>{L_SUBFORUMS}</h4>
    {% if not S_IS_BOT and U_MARK_FORUMS %}
    <small>
      <a href="{{ U_MARK_FORUMS }}" class="mark-read rightside" data-ajax="mark_forums_read">{L_MARK_SUBFORUMS_READ}</a>
    </small>
    {% endif %}
    {{ include('index/_index.html') }}
    {% endif %}

  </div>
</div>

{{ include('forum/forum_actions_top.html') }}

{% if S_NO_READ_ACCESS %}
<div class="pbb-forum">
  <div class="pbb-forum-content">{L_NO_READ_ACCESS}</div>
</div>
{% endif %}

{% EVENT viewforum_body_topic_row_before %}

{% if topicrow|length > 0 %}
  {% for row in topicrow %}

    {% if not row.S_TOPIC_TYPE_SWITCH and not row.S_FIRST_ROW %}
    {{ include('forum/forum_topic_footer.html') }}
    {% endif %}

    {% if row.S_FIRST_ROW or not row.S_TOPIC_TYPE_SWITCH %}
    {{ include('forum/forum_topic_header.html') }}
    {% endif %}

    {% EVENT viewforum_body_topicrow_row_before %}
    {{ include('forum/forum_topic.html') }}
    {% EVENT viewforum_body_topic_row_after %}

    {% if row.S_LAST_ROW %}
    {{ include('forum/forum_topic_footer.html') }}
    {% endif %}

  {% endfor %}
{% else %}
  {% if S_IS_POSTABLE %}
  <div class="pbb-forum">
    <div class="pbb-forum-content">{{ lang(S_SORT_DAYS ? 'NO_TOPICS_TIME_FRAME' : 'NO_TOPICS')  }}</div>
  </div>
  {% elseif not S_HAS_SUBFORUM %}
  <div class="pbb-forum">
    <div class="pbb-forum-content">{L_NO_FORUMS_IN_CATEGORY}</div>
  </div>
  {% endif %}
{% endif %}

{{ include('forum/forum_actions_bottom.html') }}
