{% if S_DISPLAY_POST_INFO or pagination or TOTAL_POSTS or TOTAL_TOPICS %}
<div class="pbb-forum-actions">
  {% if not S_IS_BOT and S_DISPLAY_POST_INFO %}
  <div class="pbb-forum-buttons">
    {% EVENT viewforum_buttons_top_before %}
    <a class="pbb-forum-new-topic mdl-js-ripple-effect" href="{{ U_POST_NEW_TOPIC }}">
      {% if S_IS_LOCKED %}
      <span class="material-icons">lock</span>
      {{ lang('BUTTON_FORUM_LOCKED') }}
      {% else %}
      <span class="material-icons">topic</span>
      {{ lang('BUTTON_NEW_TOPIC') }}
      {% endif %}
    </a>
    {% EVENT viewforum_buttons_top_after %}
  </div>
  {% endif %}

  <div class="pbb-forum-actions-controls">
    {% if S_DISPLAY_SEARCHBOX %}
    <form class="pbb-forum-search" method="get" id="forum-search" action="{{ S_SEARCHBOX_ACTION }}">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search_keywords">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input"  type="search" name="keywords" id="search_keywords" size="20" placeholder="{{ lang('SEARCH_FORUM') }}">
          <label class="mdl-textfield__label">{{ lang('SEARCH') }}</label>
        </div>
      </div>
      {{ S_SEARCH_LOCAL_HIDDEN_FIELDS }}
    </form>

    <a class="pbb-forum-search-adv mdl-js-button" href="{{ U_SEARCH_FORUM }}" title="{{ lang('SEARCH_ADV') }}">
      <span class="material-icons">settings</span>
    </a>
    {% endif %}

    <div class="pbb-forum-pagination">
      {% if not S_IS_BOT and U_MARK_TOPICS and row %}
      <a href="{{ U_MARK_TOPICS }}" class="mark" accesskey="m" data-ajax="mark_topics_read">
        {{ lang('MARK_TOPICS_READ') }}
      </a> &bull;
      {% endif %}
      {{ TOTAL_TOPICS }}
      {% if pagination %}
        {% include('pagination.html') %}
      {% else %}
        &bull; {{ PAGE_NUMBER }}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
