<li class="pbb-list-content{% if row.S_UNREAD_FORUM %} pbb-list-highlight{% endif %}{% if row.FORUM_IMAGE %} pbb-forum-image{% endif %}">

  {# private declaration #}
  {% set _STYLE_CHUNKS = row.FORUM_IMG_STYLE | split("_") %}
  {% set _STYLE_LENGTH = _STYLE_CHUNKS|length %}

  {# declaration of type (possible types: forum, link) #}
  {% set CONTENT_TYPE = _STYLE_CHUNKS[0] %}

  {# declaration of bool values #}
  {% set CONTENT_READ = _STYLE_CHUNKS[1] == "read" %}
  {% set CONTENT_MOVE = _STYLE_CHUNKS[1] == "moved" %}
  {% set CONTENT_LINK = _STYLE_CHUNKS[1] == "link" %}
  {% if _STYLE_LENGTH gt 2 %}
    {% set CONTENT_LOCK = _STYLE_CHUNKS[2] == "locked" %}
    {% set CONTENT_SUBFORUM = _STYLE_CHUNKS[2] == "subforum" %}
  {% endif %}


  {# if a custom forum image exist, it should be used #}
  {% if row.FORUM_IMAGE %}
  {% EVENT forumlist_body_forum_image_prepend %}
  {{ row.FORUM_IMAGE }}
  {% EVENT forumlist_body_forum_image_append %}
  {% endif %}

  <div class="pbb-subforum-container">

    {# otherwise use material icons as a status icon #}
    {% if CONTENT_LOCK %}
    <i id="forum-{{ row.FORUM_ID }}" class="pbb-forum-icon material-icons">lock_outline</i>
    {% elseif row.FORUM_IMG_STYLE eq "forum_link" %}
    <i id="forum-{{ row.FORUM_ID }}" class="pbb-forum-icon material-icons">link</i>
    {% elseif CONTENT_READ %}
    <i id="forum-{{ row.FORUM_ID }}" class="pbb-forum-icon material-icons">notes</i>
    {% else %}
    <i id="forum-{{ row.FORUM_ID }}" class="pbb-forum-icon material-icons">new_releases</i>
    {% endif %}
  
    {# additional information to posts/topics/clicks in forum are added in a tooltip #}
    {% if not CONTENT_LINK %}
    <div class="mdl-tooltip mdl-tooltip--right" for="forum-{{ row.FORUM_ID }}">
      {% if row.CLICKS %}
      <div>
        <b>{{ lang('REDIRECTS') }}{{ lang('COLON') }}</b> <span>{{ row.CLICKS }}</span>
      </div>
      {% elseif not row.S_IS_LINK %}
      <div>
        <b>{{ lang('TOPICS') }}{{ lang('COLON') }}</b> <span>{{ row.TOPICS }}</span><br>
        <b>{{ lang('POSTS') }}{{ lang('COLON') }}</b> <span>{{ row.POSTS }}</span>
      </div>
      {% endif %}
    </div>
    {% endif %}
  
    {# headline appears here! #}

    <h3 class="pbb-forum-headline"><a href="{{ row.U_VIEWFORUM }}">{{ row.FORUM_NAME }}</a></h3>

    {% if row.FORUM_DESC %}
    <div class="pbb-forum-description">{{ row.FORUM_DESC }}</div>
    {% endif %}

    {% if row.subforum|length > 0 %}
    <div class="pbb-forum-subforums">
      {% for sub in row.subforum %}
        {% EVENT forumlist_body_sub_link_prepend %}
        <a class="pbb-subforum{% if sub.S_UNREAD %} pbb-subforum-highlight{% endif %}" href="{{ sub.U_SUBFORUM }}">
          <span class="pbb-subforum-icon">
            {% if sub.IS_LINK %}
            <i class="material-icons">link</i>
            {% endif %}

            <i class="material-icons">notes</i>
            
          </span>
          <span class="pbb-subforum-text">{{ sub.SUBFORUM_NAME }}</span>
        </a>
        {% EVENT forumlist_body_sub_link_append %}
      {% endfor %}
      {% EVENT forumlist_body_subs_after %}
    </div>
    {% endif %}

  </div>
</li>