<li class="mdt-list-content">
  {% EVENT viewforum_body_topic_row_prepend %}

  {# private declaration #}
  {% set _STYLE_CHUNKS = row.TOPIC_IMG_STYLE | split("_") %}
  {% set _STYLE_LENGTH = _STYLE_CHUNKS|length %}

  {# declaration of type (possible types: global, announce, sticky, topic) #}
  {% set CONTENT_TYPE = _STYLE_CHUNKS[0] %}

  {# declaration of bool values #}
  {% set CONTENT_READ = _STYLE_CHUNKS[1] == "read" %}
  {% set CONTENT_MOVE = _STYLE_CHUNKS[1] == "moved" %}
  {% if _STYLE_LENGTH gt 2 %}
    {% set CONTENT_MINE = _STYLE_CHUNKS[2] == "mine" %}
    {% set CONTENT_HOT = _STYLE_CHUNKS[2] == "hot" %}
    {% set CONTENT_LOCK = _STYLE_CHUNKS[2] == "locked" %}
    {% if _STYLE_LENGTH eq 4 %}
      {% set CONTENT_MINE = _STYLE_CHUNKS[3] == "mine" %}
    {% endif %}
  {% endif %}

  {% EVENT topiclist_row_prepend %}



  <a class="mdt-topic-icon{% if not CONTENT_READ %} mdl-color-text--primary{% endif %} material-icons" href="{{ row.U_NEWEST_POST }}" title="{{ lang('GOTO_LAST_POST') }}">
    {% if CONTENT_TYPE == 'global' %}
    announcement
    {% elseif CONTENT_TYPE == 'announce' %}
    announcement
    {% elseif CONTENT_TYPE == 'sticky' %}
    sticky_note_2
    {% else %}
    topic
    {% endif %}  
  </a>

  <div class="mdt-topic-content">
    {% if row.U_VIEW_TOPIC %}
    <h2 class="mdt-topic-headline">
      <a href="{{ row.U_VIEW_TOPIC }}">{{ row.TOPIC_TITLE }}</a>
      {% if row.pagination %}
      <span class="mdt-topic-paging mdl-chip mdl-chip--contact">
        <span class="mdl-chip__text">
          {% for paging in row.pagination %}
            {% if paging.S_IS_PREV %}
            {% elseif paging.S_IS_CURRENT %}
              {{ paging.PAGE_NUMBER }}
            {% elseif paging.S_IS_ELLIPSIS %}
              {{ lang('ELLIPSIS') }}
            {% elseif paging.S_IS_NEXT %}
            {% else %}
              <a href="{{ paging.PAGE_URL }}">{{ paging.PAGE_NUMBER }}</a>
            {% endif %}
          {% endfor %}
        </span>
      </span>
      {% endif %}
    </h2>
    {% else %}
    <h2 class="mdt-topic-headline">
      {{ row.TOPIC_TITLE }}
    </h2>
    {% endif %}

    {{ include('topic/topic_actions_toolbar.html') }}

    {% EVENT topiclist_row_topic_title_after %}
  </div>

  {% if not S_IS_BOT %}
  <div class="mdt-topic-addition">
    {% if row.S_TOPIC_UNAPPROVED or row.S_POSTS_UNAPPROVED or row.S_TOPIC_DELETED or row.S_TOPIC_REPORTED %}
    <div class="mdt-topic-control">
      {% if row.S_TOPIC_UNAPPROVED or row.S_POSTS_UNAPPROVED %}
      <a href="{{ row.U_MCP_QUEUE }}">
        {% if row.S_TOPIC_UNAPPROVED %}
        {{ lang('TOPIC_UNAPPROVED') }}
        {% else %}
        {{ lang('POSTS_UNAPPROVED') }}
        {% endif %}
      </a>
      {% endif %}

      {% if row.S_TOPIC_DELETED %}
      <a href="{{ row.U_MCP_QUEUE }}">
        <i class="material-icons">delete</i>
        {{ lang('TOPIC_DELETED') }}
      </a>
      {% endif %}
      
      {% if row.S_TOPIC_REPORTED %}
      <a href="{{ row.U_MCP_REPORT }}">
        <i class="material-icons">report</i>
        {{ lang('TOPIC_REPORTED') }}
      </a>
      {% endif %}
    </div>
    {% endif %}

    <div class="mdt-topic-info">
      <span>
        <span class="mdl-chip__text">
          {% if row.S_HAS_POLL %}
          <i class="material-icons">poll</i>
          {% endif %}
          {% if row.ATTACH_ICON_IMG %}
          <i class="material-icons">attach_file</i>
          {% endif %}

          {% EVENT topiclist_row_topic_by_author_before %}
          {{ lang('POST_BY_AUTHOR') }}
          {% EVENT viewforum_body_topic_author_username_prepend %}
          {{ row.TOPIC_AUTHOR_FULL }}
          {% EVENT viewforum_body_topic_author_username_append %}
          &raquo;
          <time datetime="{{ row.FIRST_POST_TIME_RFC3339 }}">
            {{ row.FIRST_POST_TIME }}
          </time>
        </span>
        {% EVENT topiclist_row_topic_by_author_after %}
        {% if row.S_POST_GLOBAL and FORUM_ID != row.FORUM_ID %}
        &raquo; {{ lang('IN') }}
        <a href="{{ row.U_VIEW_FORUM }}">{{ row.FORUM_NAME }}</a>
        {% endif %}
      </span>

      <span>
        <span class="mdl-chip__text">
          <a href="{{ row.U_LAST_POST }}" title="{{ lang('GOTO_LAST_POST') }}">{{ lang('LAST_POST') }}</a>
          {{ lang('POST_BY_AUTHOR') }}
          {% EVENT viewforum_body_last_post_author_username_prepend %}
          {{ row.LAST_POST_AUTHOR_FULL }}
          {% EVENT viewforum_body_last_post_author_username_append %}
          &raquo;
          <time datetime="{{ row.LAST_POST_TIME_RFC3339 }}">
            {{ row.LAST_POST_TIME }}
          </time>
        </span>
      </span>

      {% EVENT topiclist_row_append %}
      {% EVENT viewforum_body_topic_row_append %}
    </div>

    {% if row.S_POST_GLOBAL and FORUM_ID != row.FORUM_ID %}
    <div>
      {{ lang('POSTED') }} {{ lang('IN') }}
      <a href="{{ row.U_VIEW_FORUM }}">{{ row.FORUM_NAME }}</a>
    </div>
    {% endif %}
  </div>
  {% endif %}
</li>