{% if forumrow|length > 0 %}{% for row in forumrow %}

{% if (row.S_IS_CAT and not row.S_FIRST_ROW) or row.S_NO_CAT  %}
{{ include('index/index_category_footer.html') }}
{% endif %}

{% if (not row.S_IS_CAT and row.S_FIRST_ROW) or row.S_IS_CAT %}
{{ include('index/index_category_header.html') }}
{% endif %}

{% if not row.S_IS_CAT %}
{{ include('index/index_forum.html') }}
{% endif %}

{% if row.S_LAST_ROW %}
{{ include('index/index_category_footer.html') }}
{% EVENT forumlist_body_last_row_after %}
{% endif %}

{% endfor %}{% else %}
<section class="mdt-container">
  <div class="mdt-container-title">
    {{ lang('NO_FORUMS') }}
  </div>
</section>
{% endif %}
