<!-- BEGIN forumrow -->

<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
<!-- INCLUDE index/index_category_footer.html -->
<!-- ENDIF -->

<!-- IF forumrow.S_IS_CAT -->
<!-- INCLUDE index/index_category_header.html -->
<!-- ELSEIF not forumrow.S_IS_CAT -->
<!-- INCLUDE index/index_forum.html -->
<!-- ENDIF -->

<!-- IF forumrow.S_LAST_ROW -->
<!-- INCLUDE index/index_category_footer.html -->
<!-- EVENT forumlist_body_last_row_after -->
<!-- ENDIF -->

<!-- BEGINELSE -->
<section class="forums-empty">
  <p><strong>{L_NO_FORUMS}</strong></p>
</section>
<!-- END forumrow -->