<li class="mdt-list-content{% if row.S_UNREAD_FORUM %} mdt-list-highlight{% endif %}{% if row.FORUM_IMAGE %} mdt-forum-has-image{% endif %}">

  {# private declaration #}
  {% set _STYLE_CHUNKS = row.FORUM_IMG_STYLE | split("_") %}
  {% set _STYLE_LENGTH = _STYLE_CHUNKS|length %}

  {# declaration of type (possible types: forum, link) #}
  {% set CONTENT_TYPE = _STYLE_CHUNKS[0] %}

  {# declaration of bool values #}
  {% set CONTENT_READ = _STYLE_CHUNKS[1] == "read" %}
  {% set CONTENT_MOVE = _STYLE_CHUNKS[1] == "moved" %}
  {% set CONTENT_LINK = _STYLE_CHUNKS[1] == "link" %}
  {% if _STYLE_LENGTH gt 2 %}
    {% set CONTENT_LOCK = _STYLE_CHUNKS[2] == "locked" %}
    {% set CONTENT_SUBFORUM = _STYLE_CHUNKS[2] == "subforum" %}
  {% endif %}

  <div class="mdt-container mdt-forum-container{% if not row.LAST_POST_TIME %} mdt-forum-nocorner{% endif %}">

    {# if a custom forum image exist, it should be used #}
    {% if row.FORUM_IMAGE %}
    {% EVENT forumlist_body_forum_image_prepend %}
    <picture class="mdt-forum-image-container">
      {# TODO: allow multiple image sources #}
      {{ row.FORUM_IMAGE }}
    </picture>
    {% EVENT forumlist_body_forum_image_append %}
    {% endif %}

    {# otherwise use material icons as a status icon #}
    {% if CONTENT_LOCK %}
    <i id="forum-{{ row.FORUM_ID }}" class="mdt-forum-icon material-icons">lock_outline</i>
    {% elseif row.FORUM_IMG_STYLE eq "forum_link" %}
    <i id="forum-{{ row.FORUM_ID }}" class="mdt-forum-icon material-icons">link</i>
    {% elseif CONTENT_READ %}
    <i id="forum-{{ row.FORUM_ID }}" class="mdt-forum-icon material-icons">notes</i>
    {% else %}
    <i id="forum-{{ row.FORUM_ID }}" class="mdt-forum-icon material-icons">new_releases</i>
    {% endif %}
  
    {# additional information to posts/topics/clicks in forum are added in a tooltip #}
    {% if not CONTENT_LINK %}
    <div class="mdl-tooltip mdl-tooltip--right" for="forum-{{ row.FORUM_ID }}">
      {% if row.CLICKS %}
      <div>
        <b>{{ lang('REDIRECTS') }}{{ lang('COLON') }}</b> <span>{{ row.CLICKS }}</span>
      </div>
      {% elseif not row.S_IS_LINK %}
      <div>
        <b>{{ lang('TOPICS') }}{{ lang('COLON') }}</b> <span>{{ row.TOPICS }}</span><br>
        <b>{{ lang('POSTS') }}{{ lang('COLON') }}</b> <span>{{ row.POSTS }}</span>
      </div>
      {% endif %}
    </div>
    {% endif %}
  
    {# headline appears here! #}

    <h2 class="mdt-forum-headline"><a href="{{ row.U_VIEWFORUM }}">{{ row.FORUM_NAME }}</a></h2>

    {% if row.FORUM_DESC %}
    <div class="mdt-forum-full-row mdt-forum-description">{{ row.FORUM_DESC }}</div>
    {% endif %}

    {% if row.subforum|length > 0 %}
    <div class="mdt-forum-full-row mdt-forum-subforums">
      {% for sub in row.subforum %}
        {% EVENT forumlist_body_sub_link_prepend %}
        <a class="mdt-subforum-chip{% if sub.S_UNREAD %} mdt-subforum-highlight{% endif %}" href="{{ sub.U_SUBFORUM }}">
          <span class="mdt-subforum-icon">
            {% if sub.IS_LINK %}
            <i class="material-icons">link</i>
            {% endif %} 

            <i class="material-icons">notes</i>
            
          </span>
          <span class="mdt-subforum-text">{{ sub.SUBFORUM_NAME }}</span>
        </a>
        {% EVENT forumlist_body_sub_link_append %}
      {% endfor %}
      {% EVENT forumlist_body_subs_after %}
    </div>
    {% endif %}

    {% if row.MODERATORS %}
    <div class="mdt-forum-full-row mdt-forum-moderation">
      <b>{{ row.L_MODERATOR_STR }}{{ lang('COLON') }}</b> {{ row.MODERATORS }}
    </div>

    {% if row.U_UNAPPROVED_TOPICS %}
    <div class="mdt-forum-full-row">
      <a class="mdt-link" href="{{ row.U_UNAPPROVED_TOPICS }}">
        <i class="material-icons">approval</i>
        {{ lang('TOPICS_UNAPPROVED') }}
      </a>
    </div>
    {% elseif row.U_UNAPPROVED_POSTS %}
    <div class="mdt-forum-full-row">
      <a class="mdt-link" href="{{ row.U_UNAPPROVED_POSTS }}">
        <i class="material-icons">approval</i>
        {{ lang('POSTS_UNAPPROVED_FORUM') }}
      </a>
    </div>
    {% endif %}
    {% endif %}

    {% if row.LAST_POST_TIME %}
    <div class="mdt-forum-full-row mdt-forum-info">
      <p>
        {{ lang('LAST_POST') }}
        {% if row.S_DISPLAY_SUBJECT %}
      
        {% EVENT forumlist_body_last_post_title_prepend %}
        <a href="{{ row.U_LAST_POST }}" title="{{ row.LAST_POST_SUBJECT }}" class="mdt-link">
          {{ row.LAST_POST_SUBJECT_TRUNCATED }}
        </a>
        {% endif %}
        {{ lang('POST_BY_AUTHOR') }}

        {% EVENT forumlist_body_last_poster_username_prepend %}
        {{ row.LAST_POSTER_FULL }}
        {% EVENT forumlist_body_last_poster_username_append %}
      </p>

      <p>
        {% if not S_IS_BOT %}
        <a class="mdt-link" href="{{ row.U_LAST_POST }}">
          <i class="material-icons">local_post_office</i>
          {{ lang('VIEW_LATEST_POST') }}
        </a><br>
        {% endif %}
        <time datetime="{{ row.LAST_POST_TIME_RFC3339 }}">{{ row.LAST_POST_TIME }}</time>
      </p>
    </div>
    {% endif %}

  </div>
</li>