<!-- BEGIN forumrow -->

<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
<!-- INCLUDE forums/forum_category_footer.html -->
<!-- ENDIF -->

<!-- IF forumrow.S_IS_CAT -->
<!-- INCLUDE forums/forum_category_header.html -->
<!-- ELSEIF not forumrow.S_IS_CAT -->
    <li class="forum">
      <span class="mdl-list__item-primary-content">
        <!-- IF forumrow.FORUM_IMAGE -->
        <span class="mdl-list__item-avatar"></span>
          <!-- EVENT forumlist_body_forum_image_prepend -->
          {forumrow.FORUM_IMAGE}
          <!-- EVENT forumlist_body_forum_image_append -->
        </span>
        <!-- ELSE -->
        <i class="material-icons mdl-list__item-avatar">person</i>
        <!-- ENDIF -->
        <a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
        
        <span class="mdl-list__item-text-body">
          <!-- IF forumrow.U_UNAPPROVED_TOPICS -->
          <a href="{forumrow.U_UNAPPROVED_TOPICS}" title="{L_TOPICS_UNAPPROVED}">
            <i class="icon fa-question fa-fw icon-blue" aria-hidden="true"></i><span class="sr-only">{L_TOPICS_UNAPPROVED}</span>
          </a>
          <!-- ELSEIF forumrow.U_UNAPPROVED_POSTS -->
            <a href="{forumrow.U_UNAPPROVED_POSTS}" title="{L_POSTS_UNAPPROVED_FORUM}">
              <i class="icon fa-question fa-fw icon-blue" aria-hidden="true"></i><span class="sr-only">{L_POSTS_UNAPPROVED_FORUM}</span>
            </a>
          <!-- ENDIF -->
          <!-- IF forumrow.LAST_POST_TIME -->
            <dfn>{L_LAST_POST}</dfn>
            <!-- IF forumrow.S_DISPLAY_SUBJECT -->
              <!-- EVENT forumlist_body_last_post_title_prepend -->
              <a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a> <br />
            <!-- ENDIF -->
              {L_POST_BY_AUTHOR} <!-- EVENT forumlist_body_last_poster_username_prepend -->{forumrow.LAST_POSTER_FULL}<!-- EVENT forumlist_body_last_poster_username_append -->
            <!-- IF not S_IS_BOT -->
              <a href="{forumrow.U_LAST_POST}" title="{L_VIEW_LATEST_POST}">
                <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{L_VIEW_LATEST_POST}</span>
              </a>
            <!-- ENDIF -->
            <br /><time datetime="{forumrow.LAST_POST_TIME_RFC3339}">{forumrow.LAST_POST_TIME}</time>
          <!-- ELSE -->
          {% if forumrow.U_UNAPPROVED_TOPICS %}
          {{ lang('TOPIC_UNAPPROVED_FORUM', forumrow.TOPICS) }}
          {% else %}
            {{ lang('NO_POSTS') }}
          {% endif %}
          <!-- ENDIF -->
        </span>
        <!-- IF forumrow.FORUM_DESC -->
        <span class="mdl-list__item-text-body">{forumrow.FORUM_DESC}</span>
        <!-- ENDIF -->
      </span>
      <span class="mdl-list__item-secondary-content">
        <span class="mdl-list__item-secondary-info">Actor</span>
        <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
      </span>
    </li>
<!-- ENDIF -->

<!-- IF forumrow.S_LAST_ROW -->
<!-- INCLUDE forums/forum_category_footer.html -->
<!-- EVENT forumlist_body_last_row_after -->
<!-- ENDIF -->

<!-- BEGINELSE -->
<section class="forums-empty">
  <p><strong>{L_NO_FORUMS}</strong></p>
</section>
<!-- END forumrow -->