<!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
<!-- EVENT forumlist_body_subforums_before -->
<section class="forum-subforums">
  <!-- BEGIN forumrow.subforum -->
  <!-- EVENT forumlist_body_subforum_link_prepend -->
  
  <a href="{forumrow.subforum.U_SUBFORUM}" class="subforum<!-- IF forumrow.subforum.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="<!-- IF forumrow.subforum.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">
    <span class="forum-icon">
      <!-- EVENT forumlist_body_forum_image_prepend -->
      {forumrow.FORUM_IMAGE}
      <!-- EVENT forumlist_body_forum_image_append -->    
    </span>
    <i class="icon<!-- IF forumrow.subforum.IS_LINK --> fa-external-link<!-- ELSE --> fa-file-o<!-- ENDIF --> fa-fw<!-- IF forumrow.subforum.S_UNREAD --> icon-red<!-- ELSE --> icon-blue<!-- ENDIF --> icon-md" aria-hidden="true"></i>
    {forumrow.subforum.SUBFORUM_NAME}
  </a>
  <!-- IF not forumrow.subforum.S_LAST_ROW -->
  {L_COMMA_SEPARATOR}
  <!-- ENDIF -->
  <!-- EVENT forumlist_body_subforum_link_append -->
  <!-- END forumrow.subforum -->
</section>
<!-- EVENT forumlist_body_subforums_after -->
<!-- ENDIF -->
