<!-- IF not forumrow.S_IS_LINK -->
<section class="forum-last-post">
  <!-- IF forumrow.U_UNAPPROVED_TOPICS -->
  <a href="{forumrow.U_UNAPPROVED_TOPICS}" title="{L_TOPICS_UNAPPROVED}">
    <i class="material-icons">approval</i>
    {L_TOPICS_UNAPPROVED}
  </a>
  <!-- ELSEIF forumrow.U_UNAPPROVED_POSTS -->
  <a href="{forumrow.U_UNAPPROVED_POSTS}" title="{L_POSTS_UNAPPROVED_FORUM}">
    <i class="material-icons">rate_review</i>
    {L_POSTS_UNAPPROVED_FORUM}
  </a>
  <!-- ENDIF -->

  <!-- IF forumrow.S_DISPLAY_SUBJECT -->
  <!-- EVENT forumlist_body_last_post_title_prepend -->
  <a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">
    {forumrow.LAST_POST_SUBJECT_TRUNCATED}
  </a>
  <!-- ENDIF -->

  {L_POST_BY_AUTHOR}
  <!-- EVENT forumlist_body_last_poster_username_prepend -->
  {forumrow.LAST_POSTER_FULL}
  <!-- EVENT forumlist_body_last_poster_username_append -->

  <!-- IF not S_IS_BOT -->
  <a href="{forumrow.U_LAST_POST}" title="{L_VIEW_LATEST_POST}">
    <i class="material-icons">local_post_office</i>
    {L_VIEW_LATEST_POST}
  </a>
  <time datetime="{forumrow.LAST_POST_TIME_RFC3339}">{forumrow.LAST_POST_TIME}</time>

  {% if forumrow.U_UNAPPROVED_TOPICS %}
  {{ lang('TOPIC_UNAPPROVED_FORUM', forumrow.TOPICS) }}
  {% else %}
  {{ lang('NO_POSTS') }}
  {% endif %}
  <!-- ELSE -->
</section>
<!-- ENDIF -->